Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

try to add landing page to menu
  docs/source/index.rst
Due: none

adding link to start page didn't work
  docs/source/index.rst
Due: none

add sphinx youtube extension
  .gitlab-ci.yml
  docs/source/conf.py
Due: none

fix typo
  docs/source/conf.py
Due: none

try to embed a playlist
  docs/source/introduction.rst
Due: none

replace playlist (not working) with video
  docs/source/introduction.rst
Due: none

first how-to-start page version
  docs/source/how_to_start.rst
  docs/source/index.rst
  image/analysis_structure.png
Due: none

add old changes
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

change comment to code
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

edit notebook section in menu
  docs/source/index.rst
Due: none

notebook section first draft
  docs/source/notebooks.rst
  image/notebook_structure.png
Due: none

further edits in notebooks.rst
  docs/source/notebooks.rst
Due: none

update notebook
  pyproject.toml
  rna_analysis/notebooks/0A2_ligand_receptor_hub_genes.ipynb
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
  rna_analysis/notebooks/99-report.ipynb
Due: build, check-changes, notebooks-RNA, build-pages, deploy-pages

update notebook
  atac_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-ATAC, build-pages, deploy-pages

update notebook
  pyproject.toml
Due: build

Edit 02_QC_filtering.ipynb & delete merge conflict markers
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

update notebook
  pyproject.toml
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
Due: build, check-changes, notebooks-RNA, build-pages, deploy-pages

update notebook
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

edit meta information, merge conflict changed version of notebook etc. to my personal config
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

delete one report=06_gene_labels which got duplicated in merge conflict
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

fix lint errors
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

remove one whitespace
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

switch examples and raises & remove Optional to reduce complexity
  src/sctoolbox/tools/marker_genes.py
Due: none

reduce complexity and white spaces
  src/sctoolbox/tools/marker_genes.py
Due: none

reduce complexity
  src/sctoolbox/tools/marker_genes.py
Due: none

#noqa: C901 to ignore the lint
  src/sctoolbox/tools/marker_genes.py
Due: none

Noqa to ignore lint with space
  src/sctoolbox/tools/marker_genes.py
Due: none

Change the order (Threads)
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

fix typo
  docs/source/notebooks.rst
Due: none

add faq
  docs/source/faq.rst
  docs/source/index.rst
Due: none

update notebook
  pyproject.toml
  sctoolbox_env.yml
  src/sctoolbox/tools/__init__.py
Due: build, test coverage, check-changes, notebooks-RNA, notebooks-ATAC

fix references
  docs/source/faq.rst
Due: none

remove comma after gender
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

add "editable": false, in meta data again
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

always pull the image during notebook tests
  .gitlab-ci.yml
Due: none

update notebook
  sctoolbox_env.yml
Due: build, test coverage, check-changes, notebooks-RNA, notebooks-ATAC

scoring all kind of gene sets for the scanpy method
  rna_analysis/notebooks/02_QC_filtering.ipynb
  src/sctoolbox/tools/marker_genes.py
Due: check-changes, notebooks-RNA, build-pages, deploy-pages
