Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

build:
  stage: build
  image: docker:latest
  needs:
  - extract-version
  tags:
  - sctoolbox
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apk update -qq && apk add git
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  before_script:
  - pip install .[all]
  script:
  - echo $DYNAMIC_IMAGE_TAG
  - chmod +x scripts/bedGraphToBigWig
  ...

check-changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

notebooks-RNA:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - rna_analysis/logs/*.txt
    - rna_analysis/*.ipynb
  before_script:
  - pip install .[all]
  - apt-get update
  ...

notebooks-ATAC:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - atac_analysis/*.ipynb
    - atac_analysis/logs/*.txt
  before_script:
  - pip install .[all]
  - pip install papermill
  ...

build-pages:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - job: get-container-tag
    artifacts: true
  stage: deploy
  before_script:
  - pip install .[all]
  - git submodule init
  - git submodule update
  script:
  - apt-get autoclean
  - apt-get update -qq && apt-get install -qq -y pandoc
  ...

deploy-pages:
  stage: deploy
  needs:
  - job: build-pages
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_COMMIT_REF_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
    - docs/build/html/
  script:
  ...

update changelog
  CHANGES.rst
Due: none

lint
  sctoolbox/tools/download_data.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Add utils.assemblers.from_rds function allowing import and emrge of multiple rds files
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

raise error in case of duplicated sheet names -> alt_names as solution
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

add tests
  tests/tools/test_marker_genes.py
Due: lint, test coverage, check-changes

lint
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

lint2
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

allow n_genes to be None
  sctoolbox/plotting/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Adjust notebooks 01 to new from_rds method
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Update change log
  CHANGES.rst
Due: none

Remove forgoten dev code
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

lint
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

delete prepare_atac_anndata "h5ad_path" parameter. This info is stored by the file loading functions.
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

adjust atac/assembly notebook
  atac_analysis/notebooks/01_assembling_anndata.ipynb
Due: check-changes, notebooks-ATAC, build-pages, deploy-pages

fix warning
  sctoolbox/plotting/qc_filter.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Apply 3 suggestion(s) to 1 file(s)
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Apply 2 suggestion(s) to 1 file(s)
  sctoolbox/tools/download_data.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

fix changelog
  CHANGES.rst
Due: none

cyclone: implemented restrict_to
  sctoolbox/tools/receptor_ligand.py
  tests/tools/test_receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

cyclone: fix mismatch between plot coloring and colorbar #373
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

hairball: add colormap parameter and align the colormap behavior with cyclone
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

account for parameter changes
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

connectionPlot: fix legend title issues #369
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Rename from_rds to from_R; add _read_and_merge function
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Adjust notebooks to new from__R function name; add layer parameter for from_R
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

connectionPlot: add control over ranges displayed in the legends
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

update notebook
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

lint
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

one more lint
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Update cahngelog
  CHANGES.rst
Due: none

Adjust 01 notebooks to latest from_R function
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Fix kwargs layer check
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Add tests for from_R
  tests/utils/test_assemblers.py
Due: lint, test coverage, check-changes

refactoring
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
