Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

fix failed build due to louvain
  Dockerfile
Due: build, test coverage, check-changes, notebooks-RNA, notebooks-ATAC

update changelog
  CHANGES.rst
Due: none

account for scanpy API changes
  sctoolbox/utils/bioutils.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Apoptosis-score
  rna_analysis/notebooks/02_QC_filtering.ipynb
  sctoolbox/data/gene_lists/human_apoptosis_genes.txt
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, notebooks-RNA, build-pages, deploy-pages

Plotting and Treshhold for apoptosis-score
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Update Notebook
  CHANGES.rst
  general_notebooks/PILOT_trajectory.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

add symlinks to new tutorial notebooks
  docs/source/tutorials/scRNA-seq_Analysis/Advanced_Analysis/Tutorial_annotation.ipynb
  docs/source/tutorials/scRNA-seq_Analysis/Advanced_Analysis/Tutorial_ligand_receptor.ipynb
  docs/source/tutorials/scRNA-seq_Analysis/Advanced_Analysis/Tutorial_marker.ipynb
  docs/source/tutorials/scRNA-seq_Analysis/Advanced_Analysis/Tutorial_proportion.ipynb
Due: none

add the new tutorials to the menu
  docs/source/tutorials/scRNA-seq_Analysis/Advanced_Analysis/index.rst
Due: none

define cell background coloring
  docs/source/_static/js/custom.js
Due: none

Edit setup.py
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC

Update Notebook
  general_notebooks/PILOT_trajectory.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

convert changelog to markdown
  CHANGES.md
Due: none

adjust CI/CD to CHANGES.md
  .gitlab-ci.yml
  scripts/collect_changes.py
Due: none

remove CHANGES.rst
  docs/source/CHANGES.rst
Due: none

use CHANGES.md
  docs/source/index.rst
Due: none

add symlink to CHANGES.md
  docs/source/CHANGES.md
  docs/source/index.rst
Due: none

update index.rst
  docs/source/index.rst
Due: none

fix symlink
  docs/source/CHANGES.md
Due: none

another try
  docs/source/index.rst
Due: none

Add PILOT to config.yaml
  rna_analysis/notebooks/config.yaml
Due: none

fix changelog not shown
  .gitlab-ci.yml
  docs/source/conf.py
  docs/source/index.rst
Due: none

don't error on failed mampok installation
  .gitlab-ci.yml
Due: none

skip mampok steps if not installed
  general_notebooks/prepare_for_cellxgene.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

fix docker build (Error response from daemon: client version 1.52 is too new. Maximum supported API version is 1.42)
  .gitlab-ci.yml
Due: none

update changelog
  CHANGES.md
Due: none

force new image build
  Dockerfile
Due: build, test coverage, check-changes, notebooks-RNA, notebooks-ATAC

CHANGES.rst -> CHANGES.md
  scripts/check_changes.py
Due: none

try CHANGES.rst if no date is found on target branch
  scripts/check_changes.py
Due: none

rename rna/0A2
  rna_analysis/notebooks/0A2_ligand_receptor_hub_genes.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Update Notebook
  rna_analysis/notebooks/PILOT_trajectory.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Delete PILOT_trajectory.ipynb
  general_notebooks/PILOT_trajectory.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

add license
  LICENSE
Due: none

update manifest
  MANIFEST.in
Due: build

update/add badges
  README.md
Due: none

fix fair badge
  README.md
Due: none
