Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

updated CHANGES.md
  CHANGES.md
Due: none

removed .vscode related directory
  .vscode/settings.json
Due: none

fixed import
  tests/tools/test_amulet.py
Due: lint, test coverage, check-changes

excluded doublet removal as testdata to sparse
  atac_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-ATAC, build-pages, deploy-pages

fix custom gene set not working #425
  src/sctoolbox/tools/gsea.py
Due: none

update changelog
  CHANGES.md
Due: none

fixed tests
  atac_analysis/notebooks/02_QC_filtering.ipynb
  tests/tools/test_amulet.py
Due: lint, test coverage, check-changes, notebooks-ATAC, build-pages, deploy-pages

remove scFates
  sctoolbox_env.yml
Due: build, test coverage, check-changes, notebooks-RNA, notebooks-ATAC

add scFates
  pyproject.toml
Due: build

fix "all" group
  pyproject.toml
Due: build

enable velocity notebook testing
  scripts/run_notebooks.py
Due: none

enable pseudotime (not velocity)
  scripts/run_notebooks.py
Due: none

reintroduce scFates (not scvelo)
  pyproject.toml
Due: build

revert environment
  sctoolbox_env.yml
Due: build, test coverage, check-changes, notebooks-RNA, notebooks-ATAC

edit to make the dependencies more concise
  pyproject.toml
Due: build

Remove support for louvain
  CHANGES.md
  Dockerfile
  atac_analysis/notebooks/04_clustering.ipynb
  pyproject.toml
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  src/sctoolbox/plotting/clustering.py
  src/sctoolbox/tools/clustering.py
  tests/plotting/test_clustering.py
Due: build, lint, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Adjust docsting
  src/sctoolbox/plotting/clustering.py
Due: none

revision notebook and amulet.py
  atac_analysis/notebooks/02_QC_filtering.ipynb
  src/sctoolbox/tools/amulet.py
Due: check-changes, notebooks-ATAC, build-pages, deploy-pages

removed main statement
  tests/tools/test_amulet.py
Due: lint, test coverage, check-changes

Fix HTML build errors (#422)
  CHANGES.md
  docs/source/build_api.py
  general_notebooks/proportion_analysis.ipynb
  pyproject.toml
  src/sctoolbox/plotting/gsea.py
  src/sctoolbox/tools/clustering.py
  src/sctoolbox/tools/download_data.py
  src/sctoolbox/tools/norm_correct.py
  src/sctoolbox/tools/qc_filter.py
  src/sctoolbox/tools/receptor_ligand.py
  src/sctoolbox/utils/adata.py
  src/sctoolbox/utils/checker.py
  src/sctoolbox/utils/general.py
Due: build, check-changes, notebooks-RNA, build-pages, deploy-pages

Reformat table in get_version_report:docstring
  src/sctoolbox/utils/general.py
Due: none

get_version_report: Fix table in docstring
  src/sctoolbox/utils/general.py
Due: none

remove ipympl potentially unused
  pyproject.toml
Due: build

remove potentially unused openpyxl
  pyproject.toml
Due: build

remove python-gitlab (unused)
  pyproject.toml
Due: build

delete deprecated remove_files function
  src/sctoolbox/utils/io.py
Due: none

remove pyyaml
  pyproject.toml
Due: build

remove scikit-learn
  pyproject.toml
Due: build

remove igraph
  pyproject.toml
Due: build

remove mudata
  pyproject.toml
Due: build

lint
  src/sctoolbox/utils/io.py
Due: none

add pyyaml
  pyproject.toml
Due: build

move dependencies to pyproject.toml
  pyproject.toml
  sctoolbox_env.yml
Due: build, test coverage, check-changes, notebooks-RNA, notebooks-ATAC

set lower dependency bounds to speed up installation
  pyproject.toml
Due: build

lower version bound for markerrepo
  pyproject.toml
Due: build
