Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

build:
  stage: build
  image: docker:latest
  needs:
  - extract-version
  tags:
  - sctoolbox
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apk update -qq && apk add git
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  before_script:
  - pip install .[all]
  script:
  - echo $DYNAMIC_IMAGE_TAG
  - chmod +x scripts/bedGraphToBigWig
  ...

check-changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

notebooks-RNA:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - rna_analysis/logs/*.txt
    - rna_analysis/*.ipynb
  before_script:
  - pip install .[all]
  - apt-get update
  ...

notebooks-ATAC:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - atac_analysis/*.ipynb
    - atac_analysis/logs/*.txt
  before_script:
  - pip install .[all]
  - pip install papermill
  ...

build-pages:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - job: get-container-tag
    artifacts: true
  stage: deploy
  before_script:
  - pip install .[all]
  - git submodule init
  - git submodule update
  script:
  - apt-get autoclean
  - apt-get update -qq && apt-get install -qq -y pandoc
  ...

deploy-pages:
  stage: deploy
  needs:
  - job: build-pages
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_COMMIT_REF_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
    - docs/build/html/
  script:
  ...

lint
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

GSEA: Add deg_set_size to gene_set_enrichment to fix #396
  general_notebooks/GSEA.ipynb
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage, check-changes, notebooks-RNA, build-pages, deploy-pages

Update Changelog
  CHANGES.md
Due: none

Apply 4 suggestion(s) to 2 file(s)
  CHANGES.md
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Fix upset plot bug not handling mix of global and grouped thresholds
  atac_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  sctoolbox/plotting/qc_filter.py
Due: lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Allow groupby column values to be of type float and int (#391)
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Reintroduce groupby...
  atac_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  sctoolbox/plotting/qc_filter.py
Due: lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

lint
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Apply 1 suggestion(s) to 1 file(s)
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

RNA/02: Create 06 report file when no labeled genes are removed (#412)
  CHANGES.md
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Update pilot notebook
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Discard setup.py and move metadata and functionallity to pyproject.toml
  pyproject.toml
  sctoolbox/_version.py
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Fix NA bug (#410)
  sctoolbox/utils/general.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Update changelog
  CHANGES.md
Due: none

lint
  pyproject.toml
  sctoolbox/_version.py
Due: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Fix path for extract-version in CI
  .gitlab-ci.yml
Due: none

CI: Adjust to new sctoolbox path
  .gitlab-ci.yml
Due: none

test: Adjsut pytest cov
  .gitlab-ci.yml
Due: none

Correct order of upset plot params
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

_upset_select_cells: check for invalid cases
  sctoolbox/plotting/qc_filter.py
  tests/plotting/test_qc_filter.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Move pytest configuragtion to pyproject.toml
  .gitlab-ci.yml
  pyproject.toml
Due: build

lint
  tests/plotting/test_qc_filter.py
Due: lint, test coverage, check-changes

Added authors and maintainers to pyproject.toml
  pyproject.toml
Due: build

Add dependency-group test
  Dockerfile
  pyproject.toml
Due: build, test coverage, check-changes, notebooks-RNA, notebooks-ATAC

Add info on why python version is pinned
  pyproject.toml
Due: build

Try to fix dockerfile
  Dockerfile
Due: build, test coverage, check-changes, notebooks-RNA, notebooks-ATAC

retry PyPI upload up to 5 times
  .gitlab-ci.yml
Due: none

retry 2 times
  .gitlab-ci.yml
Due: none

Try to fix dockerfile second try
  Dockerfile
Due: build, test coverage, check-changes, notebooks-RNA, notebooks-ATAC

RNA 03 keep norm layer
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

ATAC: keep norm layer
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check-changes, notebooks-ATAC, build-pages, deploy-pages

update changelog
  CHANGES.md
Due: none

updated .gitigniore + .vscode/
  .gitignore
Due: none

Pin docutils to <= 0.21 until nbsphinx_link is fixed
  .gitlab-ci.yml
Due: none

AMULET integration
  atac_analysis/notebooks/02_QC_filtering.ipynb
  atac_analysis/notebooks/test_data/hg38.blacklist.v2.bed
  sctoolbox/tools/amulet.py
Due: lint, test import, test coverage, check-changes, notebooks-ATAC, build-pages, deploy-pages

Added unit tests
  sctoolbox/tools/__init__.py
  tests/tools/test_amulet.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Update pilot notebook
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
  scripts/check_changes.py
  sctoolbox/tools/mp_pilot.py
Due: lint, test import, test coverage, check-changes, notebooks-RNA, build-pages, deploy-pages

linting
  sctoolbox/tools/amulet.py
  tests/tools/test_amulet.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
