Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

update notebook
  CHANGES.md
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
  sctoolbox/tools/mp_pilot.py
Due: lint, test import, test coverage, check-changes, notebooks-RNA, build-pages, deploy-pages

add peakqc reference
  atac_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-ATAC, build-pages, deploy-pages

update changelog
  CHANGES.md
Due: none

move lint included files to pyproject.toml and lint jupyter and more scripts
  .gitlab-ci.yml
  pyproject.toml
Due: build

Remove all tags from CI
  .gitlab-ci.yml
Due: none

Change all sections to trigger tests
  atac_analysis/notebooks/02_QC_filtering.ipynb
  general_notebooks/group_markers.ipynb
  pyproject.toml
  rna_analysis/notebooks/02_QC_filtering.ipynb
  src/sctoolbox/tools/bam.py
Due: build, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

ruff lint
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  atac_analysis/notebooks/02_QC_filtering.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  atac_analysis/notebooks/0A_tobias.ipynb
  atac_analysis/notebooks/99-report.ipynb
  atac_analysis/notebooks/test_data/references/process_testdata.ipynb
  general_notebooks/GSEA.ipynb
  general_notebooks/annotation.ipynb
  general_notebooks/group_markers.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
  rna_analysis/notebooks/0A2_ligand_receptor_hub_genes.ipynb
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
  rna_analysis/notebooks/99-report.ipynb
  scripts/check_notebook_version.py
  scripts/check_notebooks.py
Due: check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

lint
  atac_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-ATAC, build-pages, deploy-pages

lint
  scripts/run_notebooks.py
Due: none

lint
  scripts/collect_changes.py
Due: none

lint
  scripts/check_changes.py
Due: none

update .gitignore
  .gitignore
Due: none

Set kubernetes limits in notebook RNA CI job
  .gitlab-ci.yml
Due: none

CI set build job tag to docker
  .gitlab-ci.yml
Due: none

lint
  atac_analysis/notebooks/02_QC_filtering.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  atac_analysis/notebooks/0A_tobias.ipynb
  atac_analysis/notebooks/test_data/references/process_testdata.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
  rna_analysis/notebooks/0A2_ligand_receptor_hub_genes.ipynb
  scripts/change_notebook_version.py
Due: check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

fix logging of nested dicts causing error on h5ad save (#333)
  src/sctoolbox/utils/decorator.py
  tests/utils/test_decorator.py
Due: lint, test coverage, check-changes

Add handling of connectomedb2025 csv files and make error message more informative.
  src/sctoolbox/tools/receptor_ligand.py
Due: none

replace pkg_resources with importlib_resources
  src/sctoolbox/tools/celltype_annotation.py
  src/sctoolbox/tools/marker_genes.py
  src/sctoolbox/tools/qc_filter.py
  tests/tools/test_calc_overlap_fc.py
Due: lint, test coverage, check-changes

Edit 0A1_ligand_receptor.ipynb
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Edit receptor_ligand.py
  src/sctoolbox/tools/receptor_ligand.py
Due: none

fix error due to change from string to Path object
  src/sctoolbox/tools/celltype_annotation.py
  src/sctoolbox/tools/qc_filter.py
Due: none

one more fix
  src/sctoolbox/tools/qc_filter.py
Due: none

fix one more glob
  src/sctoolbox/tools/qc_filter.py
Due: none

same fix different line
  src/sctoolbox/tools/qc_filter.py
Due: none

Remove all the test comments
  atac_analysis/notebooks/02_QC_filtering.ipynb
  general_notebooks/group_markers.ipynb
  pyproject.toml
  src/sctoolbox/tools/bam.py
Due: build, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Remove test comment I missed
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Update changelog
  CHANGES.md
Due: none

implement and test "save_table" parameter
  src/sctoolbox/tools/gsea.py
  tests/tools/test_gsea.py
Due: lint, test coverage, check-changes

add missing import
  src/sctoolbox/tools/gsea.py
Due: none

fix typo
  src/sctoolbox/tools/gsea.py
Due: none

add first version of peaks_to_bins
  src/sctoolbox/utils/bioutils.py
Due: none

Edit pyproject.toml
  pyproject.toml
Due: build
