Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

build:
  stage: build
  image: docker:latest
  needs:
  - extract-version
  tags:
  - sctoolbox
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apk update -qq && apk add git
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  before_script:
  - pip install .[all]
  script:
  - echo $DYNAMIC_IMAGE_TAG
  - chmod +x scripts/bedGraphToBigWig
  ...

check-changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

notebooks-RNA:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - rna_analysis/logs/*.txt
    - rna_analysis/*.ipynb
  before_script:
  - pip install .[all]
  - apt-get update
  ...

notebooks-ATAC:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - atac_analysis/*.ipynb
    - atac_analysis/logs/*.txt
  before_script:
  - pip install .[all]
  - pip install papermill
  ...

build-pages:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - job: get-container-tag
    artifacts: true
  stage: deploy
  before_script:
  - pip install .[all]
  - git submodule init
  - git submodule update
  script:
  - apt-get autoclean
  - apt-get update -qq && apt-get install -qq -y pandoc
  ...

deploy-pages:
  stage: deploy
  needs:
  - job: build-pages
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_COMMIT_REF_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
    - docs/build/html/
  script:
  ...

utils - move duplicated fixtures to conftest.py
  tests/utils/conftest.py
  tests/utils/test_adata.py
  tests/utils/test_assemblers.py
  tests/utils/test_checker.py
  tests/utils/test_general.py
  tests/utils/test_tables.py
Due: lint, test coverage, check-changes

use global base path
  tests/test_settings.py
Due: lint, test coverage, check-changes

remove adata_rna.rds, will be generated on demand
  tests/data/adata_rna.rds
  tests/utils/test_assemblers.py
Due: lint, test coverage, check-changes

use the top-level fixture
  tests/tools/test_gsea.py
Due: lint, test coverage, check-changes

only compute tsne if required
  tests/conftest.py
  tests/plotting/conftest.py
  tests/plotting/test_embedding_pl.py
Due: lint, test coverage, check-changes

prevent log leaks by removing in-anndata logs
  tests/conftest.py
Due: lint, test coverage, check-changes

reuse global fixture
  tests/plotting/conftest.py
Due: lint, test coverage, check-changes

explain fixture use in development docs
  docs/source/development.rst
Due: none

update changelog
  CHANGES.md
Due: none

clean up R session
  tests/utils/test_assemblers.py
Due: lint, test coverage, check-changes

copy the repository style
  .claude/docs/sys-code-review.md
  CLAUDE.md
Due: none

replace named_var adata file with on-demand created named var object
  tests/data/atac/mm10_atac_named_var.h5ad
  tests/utils/conftest.py
Due: lint, test coverage, check-changes

update comment
  tests/utils/test_assemblers.py
Due: lint, test coverage, check-changes

mock s3 download
  tests/tools/test_download_data.py
Due: lint, test coverage, check-changes

reduce data size to speed up tests
  tests/conftest.py
  tests/tools/test_dim_reduction.py
  tests/tools/test_norm_correct.py
Due: lint, test coverage, check-changes

add deps for parallel testing
  pyproject.toml
Due: build

use tmp_path for log file
  tests/test_settings.py
Due: lint, test coverage, check-changes

make dataset download support parallel testing
  tests/conftest.py
Due: lint, test coverage, check-changes

make cicd pytest use 4 parallel workers
  .gitlab-ci.yml
Due: none

allow the tests to work when xdist aka parallel test execution is disabled
  tests/conftest.py
Due: lint, test coverage, check-changes

refine allowed editable files
  .claude/settings.json
Due: none

allow the workflow to edit pyproject.toml
  .claude/docs/sys-implement.md
  .claude/skills/sys-commit/SKILL.md
Due: none

add a script that checks the requirements of the dev environment and use it in the workflow
  .claude/settings.json
  .claude/skills/sys-env-check/SKILL.md
  scripts/check_dev_env.py
Due: none

implement script to handle local allowlist for prefix based environments
  .claude/settings.json
  .claude/skills/design/SKILL.md
  scripts/sync_local_allowlist.py
Due: none

run the full test suite once after all tasks are completed
  .claude/skills/implement/SKILL.md
Due: none

reduce token usage
  .claude/skills/design/SKILL.md
  .claude/skills/implement/SKILL.md
Due: none

update dev environment section
  docs/source/development.rst
Due: none

Satisfy new linting rule (D421)
  src/sctoolbox/_settings.py
  src/sctoolbox/plotting/qc_filter.py
Due: none

optimize claude.md
  CLAUDE.md
Due: none

connectionPlot: Fix colormap (#462)
  CHANGES.md
  src/sctoolbox/tools/receptor_ligand.py
Due: none

lint and spell check
  CHANGES.md
  src/sctoolbox/_settings.py
  src/sctoolbox/plotting/qc_filter.py
Due: none

up to beta version
  src/sctoolbox/_version.py
Due: none

delete unused files
  tests/data/quant/Ctrl-1/solo/Gene/Features.stats
  tests/data/quant/Ctrl-2/solo/Gene/Features.stats
  tests/data/quant/KO-1/solo/Gene/Features.stats
  tests/data/quant/KO-2/solo/Gene/Features.stats
Due: none

deduplicate fixtures
  tests/conftest.py
  tests/plotting/test_qc_filter.py
  tests/tools/conftest.py
  tests/tools/test_bam.py
  tests/tools/test_celltype_annotation.py
  tests/utils/conftest.py
  tests/utils/test_bioutils.py
Due: lint, test coverage, check-changes

more efficient fixture scopes
  tests/conftest.py
  tests/plotting/conftest.py
Due: lint, test coverage, check-changes

subset data to decrease runtime
  tests/tools/test_norm_correct.py
Due: lint, test coverage, check-changes

build a small bam to speed up runtime
  tests/tools/test_bam.py
Due: lint, test coverage, check-changes

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
