Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

build:
  stage: build
  image: docker:latest
  needs:
  - extract-version
  tags:
  - sctoolbox
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apk update -qq && apk add git
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  before_script:
  - pip install .[all]
  script:
  - echo $DYNAMIC_IMAGE_TAG
  - chmod +x scripts/bedGraphToBigWig
  ...

check-changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

notebooks-RNA:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - rna_analysis/logs/*.txt
    - rna_analysis/*.ipynb
  before_script:
  - pip install .[all]
  - apt-get update
  ...

notebooks-ATAC:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - atac_analysis/*.ipynb
    - atac_analysis/logs/*.txt
  before_script:
  - pip install .[all]
  - pip install papermill
  ...

build-pages:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - job: get-container-tag
    artifacts: true
  stage: deploy
  before_script:
  - pip install .[all]
  - git submodule init
  - git submodule update
  script:
  - apt-get autoclean
  - apt-get update -qq && apt-get install -qq -y pandoc
  ...

deploy-pages:
  stage: deploy
  needs:
  - job: build-pages
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_COMMIT_REF_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
    - docs/build/html/
  script:
  ...

up atac notebook version
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  atac_analysis/notebooks/02_QC_filtering.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  atac_analysis/notebooks/0A_tobias.ipynb
  atac_analysis/notebooks/99-report.ipynb
  atac_analysis/notebooks/test_data/references/process_testdata.ipynb
Due: check-changes, notebooks-ATAC, build-pages, deploy-pages

Add multiprocessing
  rna_analysis/notebooks/PILOT_trajectory.ipynb
  sctoolbox/tools/multiprocessing_pilot.py
Due: lint, test import, test coverage, check-changes, notebooks-RNA, build-pages, deploy-pages

Hide Toolbox
  rna_analysis/notebooks/PILOT_trajectory.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Add mp.pilot.py to _init_ and some fixes
  rna_analysis/notebooks/PILOT_trajectory.ipynb
  sctoolbox/tools/__init__.py
  sctoolbox/tools/mp_pilot.py
Due: lint, test import, test coverage, check-changes, notebooks-RNA, build-pages, deploy-pages

Update CHANGES.md and lint
  CHANGES.md
  sctoolbox/tools/mp_pilot.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Delete CHANGES.rst
  CHANGES.rst
Due: none

worked on the review comments on apoptosis score
  rna_analysis/notebooks/02_QC_filtering.ipynb
  sctoolbox/data/gene_lists/mouse_apoptosis_genes.txt
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, notebooks-RNA, build-pages, deploy-pages

worked on the review comments on apoptosis score2
  rna_analysis/notebooks/02_QC_filtering.ipynb
  sctoolbox/data/gene_lists/mouse_apoptosis_genes.txt
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, notebooks-RNA, build-pages, deploy-pages

worked on the review comments on apoptosis score3
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

worked on the review comments on apoptosis score4
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

generalizing the Signiture of apoptosis method
  rna_analysis/notebooks/02_QC_filtering.ipynb
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, notebooks-RNA, build-pages, deploy-pages

generalizing the Signiture of apoptosis method2
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

generalizing the Signiture of apoptosis method3
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

generalizing the Signiture of apoptosis method4
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Score genes method with kind
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Lable genes signiture
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Lable genes signiture correction
  CHANGES.md
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Review coments apoptosis
  CHANGES.md
  rna_analysis/notebooks/02_QC_filtering.ipynb
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, notebooks-RNA, build-pages, deploy-pages

prepare_for_cellxgene: check for at least one embedding; automatically add x_ to obsm.keys if missing
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

prepare_for_cellxgene: Adjust error description in docstring
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Update cahngelog
  CHANGES.md
Due: none

lint
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Fix error message.
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

prepare_for_cellxgene: Add more info in docstring
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

prepare_for_cellxgene: replace embedding_names with keep_obsm
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Adjust tests to new function parameter keep_obsm
  tests/utils/test_adata.py
Due: lint, test coverage, check-changes

Notebook 3: Add colormap option for pca embedding
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

plot_embedding: Fix bug when color list is len 1 and suptitle is added
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Update changelog
  CHANGES.md
Due: none

plot_embedding: Only allow ax parameter if color is set to one feature.
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Apply 1 suggestion(s) to 1 file(s)
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Pin harmonypy to 0.0.10 until scanpy can handle harmonypy 0.2.0
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC

label_genes: Add show_all parameter
  CHANGES.md
  rna_analysis/notebooks/02_QC_filtering.ipynb
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, notebooks-RNA, build-pages, deploy-pages

Losen harmonypy pin from == to <= 0.0.10
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC

lint
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Remove show_all from notebook; revise parameter and warning
  rna_analysis/notebooks/02_QC_filtering.ipynb
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, notebooks-RNA, build-pages, deploy-pages

Update Changelog
  CHANGES.md
Due: none

bump version to 0.15.0b
  sctoolbox/_version.py
Due: lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
