Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

build:
  stage: build
  image: docker:latest
  needs:
  - extract-version
  tags:
  - sctoolbox
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apk update -qq && apk add git
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  before_script:
  - pip install .[all]
  script:
  - echo $DYNAMIC_IMAGE_TAG
  - chmod +x scripts/bedGraphToBigWig
  ...

check-changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

notebooks-RNA:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - rna_analysis/logs/*.txt
    - rna_analysis/*.ipynb
  before_script:
  - pip install .[all]
  - apt-get update
  ...

notebooks-ATAC:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - atac_analysis/*.ipynb
    - atac_analysis/logs/*.txt
  before_script:
  - pip install .[all]
  - pip install papermill
  ...

build-pages:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - job: get-container-tag
    artifacts: true
  stage: deploy
  before_script:
  - pip install .[all]
  - git submodule init
  - git submodule update
  script:
  - apt-get autoclean
  - apt-get update -qq && apt-get install -qq -y pandoc
  ...

deploy-pages:
  stage: deploy
  needs:
  - job: build-pages
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_COMMIT_REF_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
    - docs/build/html/
  script:
  ...

update respective test
  tests/tools/test_qc_filter.py
Due: lint, test coverage, check-changes

update changelog
  CHANGES.md
Due: none

spawn no more workers than necessary
  src/sctoolbox/tools/qc_filter.py
Due: none

fix todo and re-add test case
  tests/tools/test_qc_filter.py
Due: lint, test coverage, check-changes

lint
  atac_analysis/notebooks/02_QC_filtering.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  general_notebooks/GSEA.ipynb
  general_notebooks/annotation.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
Due: check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

patch palantir to allow use with pandas>=3
  src/sctoolbox/tools/palantir_analysis.py
Due: none

patch another palantir function to enable pandas>=3
  src/sctoolbox/tools/palantir_analysis.py
Due: none

patch palantir to allow anndata>=0.13
  src/sctoolbox/tools/palantir_analysis.py
Due: none

drop the palantir patches. 1.4.5 is released
  src/sctoolbox/tools/palantir_analysis.py
Due: none

up palantir version floor
  pyproject.toml
Due: build

Fix pl.gsea.gsea_dot (#457)
  CHANGES.md
  general_notebooks/GSEA.ipynb
  src/sctoolbox/plotting/gsea.py
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

gsea_dot: fix default hue selection
  src/sctoolbox/plotting/gsea.py
Due: none

lint
  src/sctoolbox/plotting/gsea.py
Due: none

specllcheck
  src/sctoolbox/plotting/gsea.py
Due: none

Fix setting tests 'race condition'
  tests/test_settings.py
Due: lint, test coverage, check-changes

test_settings: add autouse fixture to reset settings after each test in module
  tests/test_settings.py
Due: lint, test coverage, check-changes

Remove settings reset from test
  tests/test_settings.py
Due: lint, test coverage, check-changes

prepare_for_cellxgene: add na check (#458)
  CHANGES.md
  src/sctoolbox/utils/adata.py
Due: none

Remove eval call from mask generation (#452)
  src/sctoolbox/tools/receptor_ligand.py
Due: none

Update changelog
  CHANGES.md
Due: none

Fix interactive slider (#439)
  CHANGES.md
  src/sctoolbox/plotting/qc_filter.py
Due: none

Test updated clean ophran tags
  .gitlab-ci.yml
Due: none

CI test 2
  .gitlab-ci.yml
Due: none

CI test 3
  .gitlab-ci.yml
Due: none

CI test 4
  .gitlab-ci.yml
Due: none

CI test 5
  .gitlab-ci.yml
Due: none

re activate ophran tag deletion
  .gitlab-ci.yml
Due: none

Switch cleanup-orphan-tags back to main commits
  .gitlab-ci.yml
Due: none

add obs_names_make_unique option to (#438)
  CHANGES.md
  src/sctoolbox/utils/assemblers.py
Due: none

Add utila.adata.remove_group function
  CHANGES.md
  src/sctoolbox/utils/adata.py
  tests/utils/test_adata.py
Due: lint, test coverage, check-changes

Notebook 2: Add option to remove samples
  atac_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Notebook2: Add missing if statement
  atac_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Notebook2: Add missing function call
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Notebook2: Add missing function call
  atac_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-ATAC, build-pages, deploy-pages

add additional parameters to group_expression_boxplot() (#456)
  CHANGES.md
  src/sctoolbox/plotting/marker_genes.py
Due: none

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
