Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

guidance formatted and images added
  .gitignore
  docs/source/guidance.rst
  image/batch_corr_framework.png
  image/batchcorrection-intro.png
  image/filter_example.png
  image/pc_subset.png
  image/peakqc_fig2.png
  image/scrublet_threshold.png
  image/tsse.png
  image/umap_parameters.png
Due: none

remove combat and scvi from default selection
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

satisfy CI/CD
  CHANGES.md
Due: none

Add step 4 of multiome guidance
  docs/source/guidance.rst
Due: none

Refine documentation and add n_neighbors parameter to notebook
  general_notebooks/multiomics.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

MR suggestions
  general_notebooks/prepare_for_cellxgene.ipynb
  src/sctoolbox/tools/multiomics.py
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

move references to embeddings
  docs/source/guidance.rst
Due: none

add scvi and batch recommendation
  docs/source/guidance.rst
Due: none

fix numbering
  docs/source/how_to_start.rst
Due: none

minor formatting
  docs/source/guidance.rst
Due: none

fix typos
  docs/source/guidance.rst
Due: none

update changes
  CHANGES.md
Due: none

Fix minor bugs
  general_notebooks/multiomics.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  src/sctoolbox/plotting/multiomics.py
  src/sctoolbox/tools/multiomics.py
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

skip pilot notebook test -> too slow
  scripts/run_notebooks.py
Due: none

lint
  general_notebooks/multiomics.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

add release date
  CHANGES.md
Due: none

up version
  src/sctoolbox/_version.py
Due: none

up rna notebook version
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
  rna_analysis/notebooks/0A2_ligand_receptor_hub_genes.ipynb
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
  rna_analysis/notebooks/99-report.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

up atac notebook version
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  atac_analysis/notebooks/02_QC_filtering.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  atac_analysis/notebooks/0A_tobias.ipynb
  atac_analysis/notebooks/99-report.ipynb
Due: check-changes, notebooks-ATAC, build-pages, deploy-pages

up general notebook version
  general_notebooks/GSEA.ipynb
  general_notebooks/Palantir.ipynb
  general_notebooks/annotation.ipynb
  general_notebooks/group_markers.ipynb
  general_notebooks/multiomics.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

up notebook version
  atac_analysis/notebooks/test_data/references/process_testdata.ipynb
Due: none

Bugfix: from_mtx
  src/sctoolbox/utils/assemblers.py
Due: none

Update changelog
  CHANGES.md
Due: none

reduce package build size
  MANIFEST.in
Due: build

More specific change log entry
  CHANGES.md
Due: none

check package build size and fail if it exceeds PyPI's upload limit
  .gitlab-ci.yml
Due: none

up rna notebook versions
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
  rna_analysis/notebooks/0A2_ligand_receptor_hub_genes.ipynb
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
  rna_analysis/notebooks/99-report.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

up atac notebook versions
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  atac_analysis/notebooks/02_QC_filtering.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  atac_analysis/notebooks/0A_tobias.ipynb
  atac_analysis/notebooks/99-report.ipynb
  atac_analysis/notebooks/test_data/references/process_testdata.ipynb
Due: check-changes, notebooks-ATAC, build-pages, deploy-pages

General/multiomics: Set plotly to notebook mode allowing the sanky plot to be shown
  general_notebooks/multiomics.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

update changelog
  CHANGES.md
Due: none

General/multiomics: Fix header
  general_notebooks/multiomics.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Setup multiomics tutorial docs
  docs/source/tutorials/Multiome_Analysis/index.rst
Due: none

Add simple multiomics example
  docs/source/how_to_start.rst
  docs/source/tutorials/Multiome_Analysis/Tutorial_00.ipynb
  docs/source/tutorials/Multiome_Analysis/Tutorial_01.ipynb
Due: none

Fix index name issue
  src/sctoolbox/tools/multiomics.py
Due: none

Add missing multiomics section to tutorial index.rst
  docs/source/tutorials/index.rst
Due: none

spellcheck
  src/sctoolbox/tools/multiomics.py
Due: none
