Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

build:
  stage: build
  image: docker:latest
  needs:
  - extract-version
  tags:
  - sctoolbox
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apk update -qq && apk add git
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  before_script:
  - pip install .[all]
  script:
  - echo $DYNAMIC_IMAGE_TAG
  - chmod +x scripts/bedGraphToBigWig
  ...

check-changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

notebooks-RNA:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - rna_analysis/logs/*.txt
    - rna_analysis/*.ipynb
  before_script:
  - pip install .[all]
  - apt-get update
  ...

notebooks-ATAC:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - atac_analysis/*.ipynb
    - atac_analysis/logs/*.txt
  before_script:
  - pip install .[all]
  - pip install papermill
  ...

build-pages:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - job: get-container-tag
    artifacts: true
  stage: deploy
  before_script:
  - pip install .[all]
  - git submodule init
  - git submodule update
  script:
  - apt-get autoclean
  - apt-get update -qq && apt-get install -qq -y pandoc
  ...

deploy-pages:
  stage: deploy
  needs:
  - job: build-pages
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_COMMIT_REF_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
    - docs/build/html/
  script:
  ...

lint lint
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

remove pycirclize workaround
  sctoolbox/tools/receptor_ligand.py
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

lint lint
  tests/utils/test_assemblers.py
Due: lint, test coverage, check-changes

document batch method behavior
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

fix side effects
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Apply suggestions; add note regarding layer parameter
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Fix typo
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage, check-changes, notebooks-RNA, build-pages, deploy-pages

remove velocity notebook from testing (#397)
  CHANGES.rst
  scripts/run_notebooks.py
Due: none

also run notebook jobs on changes to scrips/run_notebooks.py
  .gitlab-ci.yml
Due: none

set notebook defautl values.. again
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

adapt convertToAdata to new anndata2ri version
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

update notebook
  general_notebooks/PILOT_trajectory.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

fixed missing return
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

implement dim_red + test
  sctoolbox/tools/dim_reduction.py
  tests/tools/test_dim_reduction.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

remove deprecated define_pc
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Edit setup.py
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC

apply suggested changes
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Apply 3 suggestion(s) to 1 file(s)
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

batch_correction: mnn, use dim_red
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

add dim_red to harmony and scanorama
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

add dim_red to combat and custom
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

compute highly variable genes
  tests/tools/test_norm_correct.py
Due: lint, test coverage, check-changes

combat use pca as default method
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

allow other methods
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

remove todo
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

fix dim_red_kwargs not overwritten when expected
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

don't subset harmony and scanorama
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

keep sparse format when computing mnn and combat
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

fix typo
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

update RNA 03 notebook
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

update atac 03 notebook
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check-changes, notebooks-ATAC, build-pages, deploy-pages

update changelog
  CHANGES.rst
Due: none

lint
  sctoolbox/tools/dim_reduction.py
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

remove tests of deprecated define_pc
  tests/tools/test_dim_reduction.py
Due: lint, test coverage, check-changes

lint?
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Amulet init
  .vscode/settings.json
  atac_analysis/notebooks/01_assembling_anndata.ipynb
Due: check-changes, notebooks-ATAC, build-pages, deploy-pages

QC:add apoptose_score + add the apoptose_gene_set
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/KEGG+Pathways.txt
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
