Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

build:
  stage: build
  image: docker:latest
  needs:
  - extract-version
  tags:
  - sctoolbox
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apk update -qq && apk add git
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  before_script:
  - pip install .[all]
  script:
  - echo $DYNAMIC_IMAGE_TAG
  - chmod +x scripts/bedGraphToBigWig
  ...

check-changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

notebooks:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    paths:
    - rna_analysis/logs/*.txt
    - rna_analysis/*.ipynb
    - atac_analysis/*.ipynb
    - atac_analysis/logs/*.txt
  before_script:
  - pip install .[all]
  script:
  ...

build-pages:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - job: get-container-tag
    artifacts: true
  stage: deploy
  before_script:
  - pip install .[all]
  script:
  - apt-get autoclean
  - apt-get update -qq && apt-get install -qq -y pandoc
  - pip install sphinx sphinx-rtd-theme
  - pip install sphinx-exec-code
  ...

deploy-pages:
  stage: deploy
  needs:
  - job: build-pages
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_COMMIT_REF_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
    - docs/build/html/
  script:
  ...

term_dotplot: fix duplicated gene handling
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

download_db: method report
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

condition_differences_network: fix filename appending bug
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

generate_report: add method slide
  sctoolbox/tools/report.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

add Junja2 dependency
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks

rna 02: adjust to method report
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

rna 03: enable method report
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

rna 04: enable method report
  rna_analysis/notebooks/04_clustering.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

rna 0A2: enable method report
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

rna 0B: enable method report
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

rna 99: enable method report
  rna_analysis/notebooks/99-report.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

GSEA: enable method report
  general_notebooks/GSEA.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

annot: enable method report
  general_notebooks/annotation.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

group marker: enable method report
  general_notebooks/group_markers.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

proportion analysis: enable method report
  general_notebooks/proportion_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

pseudotime: enable version and method report
  general_notebooks/pseudotime_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

add method report template
  sctoolbox/data/method_templates/RNA-methods.md
Due: none

lint
  sctoolbox/plotting/marker_genes.py
  sctoolbox/plotting/planet_plot.py
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

fix error when section is not available
  sctoolbox/tools/report.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

run the report notebook last
  scripts/run_notebooks.py
Due: none

lint
  sctoolbox/plotting/clustering.py
  sctoolbox/tools/marker_genes.py
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

fix tests that failed due to the sctoolbox logging no longer propagating
  tests/tools/test_qc_filter.py
Due: lint, test coverage, check-changes

fixed bug with duplicated gene names
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

fixed unboundvariable error
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

lint
  sctoolbox/plotting/clustering.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

include the method templates in the sctoolbox installation
  MANIFEST.in
Due: build

fix sctoolbox logger no longer propagating
  tests/utils/test_adata.py
Due: lint, test coverage, check-changes

fix version_report test
  tests/utils/test_general.py
Due: lint, test coverage, check-changes

fix sctoolbox logger no longer propagating
  tests/tools/test_bam.py
Due: lint, test coverage, check-changes

applying lint roller
  tests/tools/test_bam.py
Due: lint, test coverage, check-changes

remove TODO line
  atac_analysis/notebooks/99-report.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

typo
  sctoolbox/data/method_templates/RNA-methods.md
Due: none

Apply 2 suggestion(s) to 2 file(s)
  sctoolbox/plotting/gsea.py
  sctoolbox/plotting/planet_plot.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

update changelog
  CHANGES.rst
Due: none

bump version
  sctoolbox/_version.py
Due: lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

update notebook versions
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  atac_analysis/notebooks/02_QC_filtering.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  atac_analysis/notebooks/0A_tobias.ipynb
  atac_analysis/notebooks/test_data/references/process_testdata.ipynb
  general_notebooks/GSEA.ipynb
  general_notebooks/annotation.ipynb
  general_notebooks/group_markers.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Fix scrublet multiprocessing by setting context to forkserver
  CHANGES.rst
  rna_analysis/notebooks/02_QC_filtering.ipynb
  sctoolbox/_version.py
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

re-enable adata write compression
  CHANGES.rst
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Update ntoebook verison to 0.13.1
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  atac_analysis/notebooks/02_QC_filtering.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  atac_analysis/notebooks/0A_tobias.ipynb
  atac_analysis/notebooks/99-report.ipynb
  atac_analysis/notebooks/test_data/references/process_testdata.ipynb
  general_notebooks/GSEA.ipynb
  general_notebooks/annotation.ipynb
  general_notebooks/group_markers.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
  rna_analysis/notebooks/99-report.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
