Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

typo
  docs/source/how_to_start.rst
Due: none

fix sphinx render issues
  src/sctoolbox/tools/palantir_analysis.py
Due: none

add space after the video
  docs/source/introduction.rst
Due: none

add reference to notebook downloader
  docs/source/how_to_start.rst
Due: none

fix typo
  docs/source/how_to_start.rst
Due: none

set table column width and auto adjust total width to page
  docs/source/how_to_start.rst
Due: none

formatting
  docs/source/tutorials/index.rst
Due: none

add danioheart link
  docs/source/tutorials/scRNA-seq_Analysis/index.rst
Due: none

doc-string formatting
  src/sctoolbox/tools/qc_filter.py
Due: none

add deprecation section
  docs/source/development.rst
Due: none

rna 02 - numbered fig output
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

rna 03 - add fig numbering
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

rna 04 - add fig numbering
  rna_analysis/notebooks/04_clustering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

rna 0A1 - add fig numbering
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

rna 0A2 - add fig numbering
  rna_analysis/notebooks/0A2_ligand_receptor_hub_genes.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

rna 0B - add fig numbering
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

general annotation - add fig numbering
  general_notebooks/annotation.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

general marker - add fig numbering
  general_notebooks/group_markers.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

general GSEA - add fig numbering
  general_notebooks/GSEA.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

general palantir - add fig numbering
  general_notebooks/Palantir.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

general proportion - add fig numbering
  general_notebooks/proportion_analysis.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

apoptois added to text in qc notebook
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

add apoptosis to the right text and remove apo list parameter
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Changes to filter apoptosis genes and also changing the comments in correct place
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Edit CHANGES.md
  CHANGES.md
Due: none

set scFates>=1.2.4 to fix Dependency resolution exceeded maximum depth
  pyproject.toml
Due: build

coloring
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

and not filter_apoptosis
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

general pseudotime - add fig numbering
  general_notebooks/pseudotime_analysis.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

atac 02 - add fig numbering
  atac_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-ATAC, build-pages, deploy-pages

atac 04 - add fig numbering
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
Due: check-changes, notebooks-ATAC, build-pages, deploy-pages

lint
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

update changelog
  CHANGES.md
Due: none

fix typo
  docs/source/notebooks.rst
Due: none

fix typo
  src/sctoolbox/tools/marker_genes.py
Due: none

moved all plotting fixtures to conftest.py
  tests/plotting/conftest.py
  tests/plotting/test_clustering.py
  tests/plotting/test_embedding_pl.py
  tests/plotting/test_general.py
  tests/plotting/test_gsea_plotting.py
  tests/plotting/test_highly_variable.py
  tests/plotting/test_marker_genes.py
  tests/plotting/test_planet_plot.py
  tests/plotting/test_qc_filter.py
  tests/plotting/test_velocity.py
Due: lint, test coverage, check-changes

make test data independent
  tests/plotting/test_clustering.py
Due: lint, test coverage, check-changes

rename function
  tests/plotting/conftest.py
Due: lint, test coverage, check-changes

fix hardcoded gene ids
  tests/plotting/test_general.py
Due: lint, test coverage, check-changes

fix adata_gsea
  tests/plotting/conftest.py
Due: lint, test coverage, check-changes
