Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

Adjust documentation
  general_notebooks/multiomics.ipynb
  src/sctoolbox/tools/multiomics.py
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Adjust documentation
  general_notebooks/multiomics.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

various fixes to add scvi
  src/sctoolbox/tools/norm_correct.py
Due: none

some more adjustments/fixes
  src/sctoolbox/tools/norm_correct.py
Due: none

make scvi kwargs aware
  src/sctoolbox/tools/norm_correct.py
Due: none

Add multiomics option for prepare_for_cellxgene
  general_notebooks/prepare_for_cellxgene.ipynb
  src/sctoolbox/tools/multiomics.py
  src/sctoolbox/utils/tables.py
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

fully enable kwargs for scvi
  src/sctoolbox/tools/norm_correct.py
Due: none

don't do a new PCA for scvi
  src/sctoolbox/tools/norm_correct.py
Due: none

General/multiomics: Adjust default values
  general_notebooks/multiomics.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

lint
  general_notebooks/multiomics.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

spellcheck
  general_notebooks/multiomics.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

test scvi
  tests/tools/test_norm_correct.py
Due: lint, test coverage, check-changes

lint
  src/sctoolbox/tools/norm_correct.py
Due: none

fix typo
  src/sctoolbox/tools/norm_correct.py
Due: none

add missing dependency
  pyproject.toml
Due: build

guidance.rst in progress
  docs/source/guidance.rst
Due: none

typo
  src/sctoolbox/tools/norm_correct.py
Due: none

Fix tests
  general_notebooks/multiomics.ipynb
  src/sctoolbox/tools/multiomics.py
  tests/tools/test_multiomics.py
Due: lint, test coverage, check-changes, notebooks-RNA, build-pages, deploy-pages

spellcheck
  src/sctoolbox/tools/multiomics.py
Due: none

exclude scvi from testing due to runtime
  tests/tools/test_norm_correct.py
Due: lint, test coverage, check-changes

fetch the number components from the dim_red parameters
  src/sctoolbox/tools/norm_correct.py
Due: none

evaluate_batch_effect: allow list of batch keys
  src/sctoolbox/tools/norm_correct.py
Due: none

Add openpyxl to dependencies
  pyproject.toml
Due: build

Fix preparefor cellxgene options
  general_notebooks/prepare_for_cellxgene.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Move openpyxl to test dependency group
  .gitlab-ci.yml
  pyproject.toml
Due: build

CI...
  .gitlab-ci.yml
Due: none

fix bug not taking n_comps to set n_latent; add "train" to kwargs
  src/sctoolbox/tools/norm_correct.py
Due: none

prepare_for_cellxgene: fix multiome checks
  general_notebooks/prepare_for_cellxgene.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Use the jensen-shannon distance as a variance ratio replacement
  src/sctoolbox/tools/norm_correct.py
Due: none

guidance.rst finished RNA started ATAC
  docs/source/guidance.rst
Due: none

finished first draft
  docs/source/guidance.rst
Due: none

make lisi handle multi-batch
  src/sctoolbox/tools/norm_correct.py
Due: none

rotate the lisi x-axis labels by 45 degree
  src/sctoolbox/plotting/embedding.py
Due: none

make loading subset optional
  src/sctoolbox/tools/dim_reduction.py
Due: none

test multi-batch with wrap_batch_evaluation
  tests/tools/test_norm_correct.py
Due: lint, test coverage, check-changes

Add multiomics analysis description
  docs/source/guidance.rst
Due: none

fix test
  tests/tools/test_norm_correct.py
Due: lint, test coverage, check-changes

enable multi-batch in rna batch notebook
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

enable multi-batch in atac batch notebook
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check-changes, notebooks-ATAC, build-pages, deploy-pages

update changelog
  CHANGES.md
Due: none
