Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

build:
  stage: build
  image: docker:latest
  needs:
  - extract-version
  tags:
  - sctoolbox
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apk update -qq && apk add git
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  before_script:
  - pip install .[all]
  script:
  - echo $DYNAMIC_IMAGE_TAG
  - chmod +x scripts/bedGraphToBigWig
  ...

check-changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

notebooks-RNA:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - rna_analysis/logs/*.txt
    - rna_analysis/*.ipynb
  before_script:
  - pip install .[all]
  - apt-get update
  ...

notebooks-ATAC:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - atac_analysis/*.ipynb
    - atac_analysis/logs/*.txt
  before_script:
  - pip install .[all]
  - pip install papermill
  ...

build-pages:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - job: get-container-tag
    artifacts: true
  stage: deploy
  before_script:
  - pip install .[all]
  - git submodule init
  - git submodule update
  script:
  - apt-get autoclean
  - apt-get update -qq && apt-get install -qq -y pandoc
  ...

deploy-pages:
  stage: deploy
  needs:
  - job: build-pages
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_COMMIT_REF_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
    - docs/build/html/
  script:
  ...

alter tests to use "end" insted of "stop"
  tests/conftest.py
  tests/tools/test_peak_annotation.py
  tests/utils/conftest.py
  tests/utils/test_assemblers.py
  tests/utils/test_bioutils.py
  tests/utils/test_checker.py
Due: lint, test coverage, check-changes

deduplicate add_logger_handler (now in conftest.py)
  tests/tools/test_bam.py
  tests/tools/test_qc_filter.py
  tests/utils/test_adata.py
  tests/utils/test_checker.py
Due: lint, test coverage, check-changes

annotate_adata: raise error for invalid coordinate info
  src/sctoolbox/tools/peak_annotation.py
  tests/tools/test_peak_annotation.py
Due: lint, test coverage, check-changes

update output types
  src/sctoolbox/plotting/multiomics.py
  src/sctoolbox/tools/multiomics.py
Due: none

update changelog
  CHANGES.md
Due: none

various small edits
  CHANGES.md
  src/sctoolbox/tools/multiomics.py
  src/sctoolbox/tools/peak_annotation.py
  src/sctoolbox/tools/receptor_ligand.py
  tests/conftest.py
  tests/tools/test_peak_annotation.py
  tests/utils/conftest.py
  tests/utils/test_assemblers.py
  tests/utils/test_checker.py
Due: lint, test coverage, check-changes

add tests for the IO error
  tests/utils/test_adata.py
Due: lint, test coverage, check-changes

convert .uns colors to hex
  src/sctoolbox/utils/adata.py
Due: none

fix merge issue
  tests/utils/test_adata.py
Due: lint, test coverage, check-changes

clarify description
  src/sctoolbox/tools/multiomics.py
Due: none

grouped_violin: implement bar option
  src/sctoolbox/plotting/marker_genes.py
Due: none

adjust the test accordingly
  tests/plotting/test_marker_genes.py
Due: lint, test coverage, check-changes

replace ~ with not
  tests/utils/test_bioutils.py
Due: lint, test coverage, check-changes

update pyproject filterwarnings
  pyproject.toml
Due: build

update filterwarnings comments
  pyproject.toml
Due: build

prohibit memories and migrate existing ones to claude.md
  CLAUDE.md
Due: none

introduce the retrospective step
  .claude/skills/implement/SKILL.md
  .claude/skills/retro/SKILL.md
Due: none

add expected results to scsa test
  tests/tools/test_celltype_annotation.py
Due: lint, test coverage, check-changes

use tempdir for tempfiles
  src/sctoolbox/tools/celltype_annotation.py
Due: none

test run_scsa for correct cleanup
  tests/tools/test_celltype_annotation.py
Due: lint, test coverage, check-changes

fixed possible whitespace issue in bash call
  src/sctoolbox/tools/celltype_annotation.py
Due: none

drop duplicated table in .uns
  src/sctoolbox/tools/celltype_annotation.py
Due: none

test for inplace leaks
  tests/tools/test_celltype_annotation.py
Due: lint, test coverage, check-changes

drop redudant var use
  src/sctoolbox/tools/celltype_annotation.py
Due: none

run_scsa: use uns helpers
  src/sctoolbox/tools/celltype_annotation.py
Due: none

test updated uns structure
  tests/tools/test_celltype_annotation.py
Due: lint, test coverage, check-changes

create helpers to reduce run_scsa complexity
  src/sctoolbox/tools/celltype_annotation.py
Due: none

update the notes
  src/sctoolbox/tools/celltype_annotation.py
Due: none

retrospective workflow changes
  .claude/agents/implementer.md
  .claude/skills/implement/SKILL.md
  .claude/skills/retro/SKILL.md
  CLAUDE.md
Due: none

use adata_fun_scope
  tests/utils/test_adata.py
Due: lint, test coverage, check-changes

add blank lines for readability
  src/sctoolbox/plotting/gsea.py
Due: none

toml: remove docutils pin; add nbsphinx_link>=1.4.1
  pyproject.toml
Due: build

Update changelog
  CHANGES.md
Due: none

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
