Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

build:
  stage: build
  image: docker:latest
  needs:
  - extract-version
  tags:
  - sctoolbox
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apk update -qq && apk add git
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  before_script:
  - pip install .[all]
  script:
  - echo $DYNAMIC_IMAGE_TAG
  - chmod +x scripts/bedGraphToBigWig
  ...

check-changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

notebooks:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    paths:
    - rna_analysis/logs/*.txt
    - rna_analysis/*.ipynb
    - atac_analysis/*.ipynb
    - atac_analysis/logs/*.txt
  before_script:
  - pip install .[all]
  script:
  ...

build-pages:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - job: get-container-tag
    artifacts: true
  stage: deploy
  before_script:
  - pip install .[all]
  script:
  - apt-get autoclean
  - apt-get update -qq && apt-get install -qq -y pandoc
  - pip install sphinx sphinx-rtd-theme
  - pip install sphinx-exec-code
  ...

deploy-pages:
  stage: deploy
  needs:
  - job: build-pages
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_COMMIT_REF_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
    - docs/build/html/
  script:
  ...

fix report issues
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

change text to fit ATAC and RNA
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

add report feature to ATAC-assembly
  atac_analysis/notebooks/01_assembling_anndata.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

update changelog
  CHANGES.rst
Due: none

pseudotime and proportion notebook
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

close all cells
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

add report to genaral annotions notebook
  rna_analysis/notebooks/annotation.ipynb
  sctoolbox/plotting/marker_genes.py
Due: lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

add CHANGES.rst
  CHANGES.rst
Due: none

add report_dir to config
  atac_analysis/notebooks/config.yaml
Due: none

add save parameter to violin_HVF_distribution
  sctoolbox/plotting/highly_variable.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

implement save and report parameter for get_variable_features
  sctoolbox/tools/highly_variable.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

add report feature to ATAC-QC notebook
  atac_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

fix quotation
  sctoolbox/tools/highly_variable.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

delete annotion notebook from rna_ notebook folder
  rna_analysis/notebooks/annotation.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

add report funtion into GSEA notebook
  general_notebooks/GSEA.ipynb
  general_notebooks/annotation.ipynb
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

add report feature to atac/03 notebook
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Add download_data function for tutorial data download
  sctoolbox/tools/__init__.py
  sctoolbox/tools/download_data.py
  setup.py
  tests/tools/test_download_data.py
Due: build, lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

Update change log
  CHANGES.rst
Due: none

update group marker notebook with report figures
  general_notebooks/group_markers.ipynb
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

prittfy code
  sctoolbox/plotting/gsea.py
  sctoolbox/plotting/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Update default bucket location
  sctoolbox/tools/download_data.py
  tests/tools/test_download_data.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

add report feature to ATAC/04 notebook
  atac_analysis/notebooks/04_clustering.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

add report path
  atac_analysis/notebooks/config.yaml
Due: none

update Changes
  CHANGES.rst
Due: none

lint
  sctoolbox/tools/download_data.py
  tests/tools/test_download_data.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

add tutorial notebooks
  .gitmodules
  docs/source/Tutorials/index.rst
  docs/source/Tutorials/scRNA-seq Analysis/Core Analysis/Tutorial 00 - Data Download.ipynb
  docs/source/Tutorials/scRNA-seq Analysis/Core Analysis/Tutorial 01 - Assembling anndata.ipynb
  docs/source/Tutorials/scRNA-seq Analysis/Core Analysis/Tutorial 02 - QC filtering.ipynb
  docs/source/Tutorials/scRNA-seq Analysis/Core Analysis/Tutorial 03 - Normalization and Batch correction.ipynb
  docs/source/Tutorials/scRNA-seq Analysis/Core Analysis/Tutorial 04 - Clustering.ipynb
  docs/source/Tutorials/scRNA-seq Analysis/Core Analysis/index.rst
Due: none

fix issues
  CHANGES.rst
  general_notebooks/GSEA.ipynb
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

lint lint lint
  sctoolbox/tools/download_data.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

update notebook (remove unused metadata tags)
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

lint
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

lock cells
  general_notebooks/GSEA.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

delete whitespaces
  CHANGES.rst
Due: none

add Tutorials tab
  docs/source/index.rst
Due: none

Revise download code
  sctoolbox/tools/download_data.py
  tests/tools/test_download_data.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

lock cells; display erroneously hidden cell
  general_notebooks/group_markers.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
