Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

decrease runtime through subset use
  tests/tools/test_gene_correlation.py
Due: lint, test coverage, check-changes

fix sctoolbox warnings
  src/sctoolbox/plotting/embedding.py
  src/sctoolbox/plotting/marker_genes.py
  src/sctoolbox/plotting/planet_plot.py
  src/sctoolbox/tools/marker_genes.py
  src/sctoolbox/tools/norm_correct.py
  src/sctoolbox/utils/tables.py
Due: none

re-save in updated format to drop warnings
  tests/data/adata.h5ad
  tests/data/atac/mm10_atac.h5ad
  tests/data/scsa/adata_scsa.h5ad
Due: none

ignore external package warnings
  pyproject.toml
Due: build

fix some warnings
  src/sctoolbox/plotting/qc_filter.py
  src/sctoolbox/tools/frip.py
  src/sctoolbox/tools/qc_filter.py
Due: none

fix pandas future warning
  src/sctoolbox/plotting/gsea.py
Due: none

fix pandas fillna downcasting warning
  src/sctoolbox/tools/calc_overlap_fc.py
Due: none

fix pandas incompatible dtype warning
  src/sctoolbox/tools/gene_correlation.py
Due: none

remove unused file
  tests/data/atac/hg38.blacklist.v2.bed
Due: none

update changelog
  CHANGES.md
Due: none

set python upper bound
  sctoolbox_env.yml
Due: build, test coverage, check-changes, notebooks-RNA, notebooks-ATAC

drop quotechar parameter to prepare for python 3.13
  src/sctoolbox/data/SCSA_custom.py
Due: none

update python<3.13 reason
  pyproject.toml
Due: build

fix read-only error
  src/sctoolbox/tools/qc_filter.py
Due: none

apply temp patch to allow upsetplot to work with pandas>3
  src/sctoolbox/plotting/qc_filter.py
Due: none

fix pandas>3 not hashable error
  src/sctoolbox/tools/multiomics.py
Due: none

fix muon using AnnData._X
  src/sctoolbox/tools/multiomics.py
Due: none

cast to the correct type as pandas 3 no longer accepts type mismatch
  src/sctoolbox/plotting/marker_genes.py
Due: none

pin to pandas 3 compatible version
  pyproject.toml
Due: build

use .iloc
  tests/utils/test_adata.py
Due: lint, test coverage, check-changes

deal with anndata 0.13.0 None layer
  src/sctoolbox/utils/adata.py
Due: none

use iloc for positional access
  tests/tools/test_tsse.py
Due: lint, test coverage, check-changes

re-enable string column na fill
  src/sctoolbox/utils/tables.py
Due: none

pin typing_extensions until anndata is updated
  pyproject.toml
Due: build

handle anndata 0.13.0 None key layer
  src/sctoolbox/utils/adata.py
  tests/utils/test_adata.py
Due: lint, test coverage, check-changes

guide claudes attention to the helper scripts
  .claude/skills/design/SKILL.md
Due: none

move pygenometrack to a separate dep group
  pyproject.toml
Due: build

remove anndata 0.13.0 workaround
  pyproject.toml
Due: build

manually add pygenometracks during testing
  .gitlab-ci.yml
Due: none

add comment
  pyproject.toml
Due: build

pin matplotlib to pygenomtracks compatible version
  .gitlab-ci.yml
Due: none

add lower bound to tqdm to enable pandas 3 support
  pyproject.toml
Due: build

fix .iloc not used. Add target parameter
  src/sctoolbox/tools/highly_variable.py
Due: none

update test to use new parameter
  tests/tools/test_highly_variable.py
Due: lint, test coverage, check-changes

account for anndata 0.13 layer handling
  src/sctoolbox/tools/qc_filter.py
Due: none
