Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

build:
  stage: build
  image: docker:latest
  needs:
  - extract-version
  tags:
  - sctoolbox
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apk update -qq && apk add git
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  before_script:
  - pip install .[all]
  script:
  - echo $DYNAMIC_IMAGE_TAG
  - chmod +x scripts/bedGraphToBigWig
  ...

check-changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

notebooks-RNA:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - rna_analysis/logs/*.txt
    - rna_analysis/*.ipynb
  before_script:
  - pip install .[all]
  - apt-get update
  ...

notebooks-ATAC:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - atac_analysis/*.ipynb
    - atac_analysis/logs/*.txt
  before_script:
  - pip install .[all]
  - pip install papermill
  ...

build-pages:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - job: get-container-tag
    artifacts: true
  stage: deploy
  before_script:
  - pip install .[all]
  - git submodule init
  - git submodule update
  script:
  - apt-get autoclean
  - apt-get update -qq && apt-get install -qq -y pandoc
  ...

deploy-pages:
  stage: deploy
  needs:
  - job: build-pages
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_COMMIT_REF_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
    - docs/build/html/
  script:
  ...

Correct the merge conflicts
  src/sctoolbox/tools/marker_genes.py
Due: none

Correct the lint
  src/sctoolbox/tools/marker_genes.py
Due: none

...
  atac_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-ATAC, build-pages, deploy-pages

edit comment with german in it
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

add "editable": false
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

change kernel_spec back to "sctoolbox"
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

move apoptosis to notebook changes in CHANGES.md
  CHANGES.md
Due: none

add gene_set to helper function as a parameter
  src/sctoolbox/tools/marker_genes.py
Due: none

gene set type
  src/sctoolbox/tools/marker_genes.py
Due: none

add missing arg gene_set to fuction
  src/sctoolbox/tools/marker_genes.py
Due: none

add PyGithub dependency
  pyproject.toml
Due: build

implement github_download first version
  src/sctoolbox/utils/creators.py
Due: none

added reference parameter
  src/sctoolbox/utils/creators.py
Due: none

update changelog
  CHANGES.md
Due: none

deprecate gitlab_download, setup_experiment and build_notebooks_regex; update add_analysis
  src/sctoolbox/utils/creators.py
Due: none

use the method parameter
  src/sctoolbox/utils/creators.py
Due: none

fix deprecation
  src/sctoolbox/utils/creators.py
Due: none

resolved pathlib issues
  src/sctoolbox/utils/creators.py
Due: none

fix github_download overwrite parameter
  src/sctoolbox/utils/creators.py
Due: none

fix not a path object when using keep_repo_structure=True
  src/sctoolbox/utils/creators.py
Due: none

one less directory in the structure
  src/sctoolbox/utils/creators.py
Due: none

lint
  src/sctoolbox/utils/creators.py
Due: none

implement add_analysis tests
  tests/utils/test_creators.py
Due: lint, test coverage, check-changes

implemented github_download test
  tests/utils/test_creators.py
Due: lint, test coverage, check-changes

implement CLI "SCF-analysis-setup"
  pyproject.toml
  src/sctoolbox/utils/cli.py
Due: build

add_analysis: implemented notes parameter
  src/sctoolbox/utils/creators.py
Due: none

fix the add_analysis test
  src/sctoolbox/utils/creators.py
Due: none

Palantir notebook
  .gitlab-ci.yml
  CHANGES.md
  atac_analysis/notebooks/config.yaml
  general_notebooks/Palantir.ipynb
  pyproject.toml
  rna_analysis/notebooks/config.yaml
  src/sctoolbox/tools/__init__.py
  src/sctoolbox/tools/palantir_analysis.py
  src/sctoolbox/utils/adata.py
  src/sctoolbox/utils/general.py
Due: build, check-changes, notebooks-RNA, build-pages, deploy-pages

clean metadata
  general_notebooks/Palantir.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

change parameter
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

update
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
