Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

add pymupdf>=1.27.2.3 to speed up install
  pyproject.toml
Due: build

Add multiomics dependencies
  pyproject.toml
Due: build

Add ínitial multiomics methods to sctoolbox
  src/sctoolbox/plotting/__init__.py
  src/sctoolbox/plotting/general.py
  src/sctoolbox/tools/multiomics.py
  src/sctoolbox/utils/general.py
Due: none

set >= version to speed up install
  pyproject.toml
Due: build

add more >=
  pyproject.toml
Due: build

plotly>=6.0.0
  pyproject.toml
Due: build

comment openpyxl to see if it is required
  pyproject.toml
Due: build

drop openpyxl
  pyproject.toml
Due: build

add natsort dep. to speed up install
  pyproject.toml
Due: build

kneed>=0.8.6
  pyproject.toml
Due: build

more install speed up >=
  pyproject.toml
Due: build

importlib_resources
  pyproject.toml
Due: build

deprecation>=2.1.0
  pyproject.toml
Due: build

Minor docstring update
  src/sctoolbox/tools/multiomics.py
Due: none

IPython>=9.13.0
  pyproject.toml
Due: build

numba dont use release candidate
  pyproject.toml
Due: build

clean up build-system requires
  pyproject.toml
Due: build

read pyyaml
  pyproject.toml
Due: build

do beartype instead of pyyaml
  pyproject.toml
Due: build

move yaml import to function
  src/sctoolbox/_settings.py
Due: none

drop subdependencies
  pyproject.toml
Due: build

remove IPython >= bound
  pyproject.toml
Due: build

drop lower bounds added to speed up install
  pyproject.toml
Due: build

Multiomics: Add plotting functions, add notebook
  atac_analysis/notebooks/config.yaml
  general_notebooks/multiomics.ipynb
  rna_analysis/notebooks/config.yaml
  src/sctoolbox/plotting/clustering.py
  src/sctoolbox/plotting/multiomics.py
  src/sctoolbox/tools/multiomics.py
  src/sctoolbox/utils/decorator.py
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Add logger to multiomics functions
  src/sctoolbox/plotting/general.py
  src/sctoolbox/plotting/multiomics.py
  src/sctoolbox/tools/multiomics.py
Due: none

Add tests powered by claude
  pyproject.toml
  src/sctoolbox/plotting/multiomics.py
  tests/plotting/test_multiomics.py
  tests/tools/test_multiomics.py
Due: build, lint, test coverage, check-changes

Improve notebook documentation
  general_notebooks/multiomics.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Update changelog
  CHANGES.md
Due: none

lint lint
  general_notebooks/multiomics.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Fix typos
  src/sctoolbox/plotting/general.py
  src/sctoolbox/plotting/multiomics.py
  src/sctoolbox/tools/multiomics.py
Due: none

Fix typos
  general_notebooks/multiomics.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

add automatic thresholds section
  docs/source/guidance.rst
Due: none

add metrics descriptions
  docs/source/guidance.rst
Due: none

dimensino reduction links
  docs/source/guidance.rst
Due: none

add scvi dependency
  pyproject.toml
Due: build

add the scvi correction method and allow multi-factor correction
  src/sctoolbox/tools/norm_correct.py
Due: none

fix error due to handling string as list
  src/sctoolbox/tools/norm_correct.py
Due: none

replace scvi (deprecated) with scvi-tools
  pyproject.toml
Due: build

Apply suggestions from MR
  general_notebooks/GSEA.ipynb
  general_notebooks/multiomics.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/config.yaml
  src/sctoolbox/plotting/multiomics.py
  src/sctoolbox/tools/multiomics.py
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Add missing checks
  src/sctoolbox/plotting/multiomics.py
  src/sctoolbox/tools/multiomics.py
Due: none
