Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

fix job image caching issue
  .gitlab-ci.yml
Due: none

add CI/CD spellcheck job
  .gitlab-ci.yml
  pyproject.toml
Due: build

exclude data directories; show a total typo count
  pyproject.toml
Due: build

Show versions
  .gitlab-ci.yml
Due: none

enable skip
  pyproject.toml
Due: build

fix path and true to ''
  pyproject.toml
Due: build

first wave of typo fixing
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  atac_analysis/notebooks/02_QC_filtering.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  atac_analysis/notebooks/0A_tobias.ipynb
  atac_analysis/notebooks/config.yaml
  tests/plotting/test_clustering.py
  tests/plotting/test_embedding_pl.py
  tests/plotting/test_general.py
  tests/plotting/test_gsea_plotting.py
  tests/plotting/test_highly_variable.py
  tests/plotting/test_marker_genes.py
  tests/plotting/test_planet_plot.py
  tests/plotting/test_qc_filter.py
  tests/plotting/test_velocity.py
  tests/tools/test_gene_correlation.py
  tests/tools/test_marker_genes.py
  tests/tools/test_qc_filter.py
Due: lint, test coverage, check-changes, notebooks-ATAC, build-pages, deploy-pages

skip another test data dir
  pyproject.toml
Due: build

second typo fixing wave
  general_notebooks/annotation.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
  rna_analysis/notebooks/0A2_ligand_receptor_hub_genes.ipynb
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
  rna_analysis/notebooks/config.yaml
  tests/test_settings.py
  tests/utils/test_adata.py
  tests/utils/test_assemblers.py
  tests/utils/test_bioutils.py
  tests/utils/test_io.py
Due: lint, test coverage, check-changes, notebooks-RNA, build-pages, deploy-pages

third wave of spelling corrections
  general_notebooks/GSEA.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  src/sctoolbox/plotting/embedding.py
  src/sctoolbox/plotting/general.py
  src/sctoolbox/plotting/genometracks.py
  src/sctoolbox/plotting/gsea.py
  src/sctoolbox/plotting/marker_genes.py
  src/sctoolbox/plotting/planet_plot.py
  src/sctoolbox/plotting/qc_filter.py
  src/sctoolbox/tools/bam.py
  src/sctoolbox/tools/calc_overlap_fc.py
  src/sctoolbox/tools/celltype_annotation.py
  src/sctoolbox/tools/clustering.py
  src/sctoolbox/tools/dim_reduction.py
  src/sctoolbox/tools/download_data.py
  src/sctoolbox/tools/gene_correlation.py
  src/sctoolbox/tools/gsea.py
  src/sctoolbox/tools/highly_variable.py
  src/sctoolbox/tools/marker_genes.py
  src/sctoolbox/tools/multiomics.py
  src/sctoolbox/tools/norm_correct.py
  src/sctoolbox/tools/qc_filter.py
  src/sctoolbox/tools/receptor_ligand.py
  src/sctoolbox/tools/report.py
  src/sctoolbox/tools/tobias.py
  src/sctoolbox/utils/adata.py
  src/sctoolbox/utils/assemblers.py
  src/sctoolbox/utils/bioutils.py
  src/sctoolbox/utils/checker.py
  src/sctoolbox/utils/creators.py
  src/sctoolbox/utils/general.py
  tests/plotting/test_clustering.py
Due: lint, test coverage, check-changes, notebooks-RNA, build-pages, deploy-pages

clean notebook metadata
  general_notebooks/Palantir.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

fourth typo fixing wave
  CHANGES.md
  Dockerfile
  docs/source/conf.py
  general_notebooks/group_markers.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  pyproject.toml
  scripts/change_notebook_version.py
  scripts/check_notebook_version.py
  src/sctoolbox/tools/palantir_analysis.py
Due: build, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

more codespell settings
  pyproject.toml
Due: build

edit context
  pyproject.toml
Due: build

rename parameter to fix typo
  src/sctoolbox/utils/checker.py
Due: none

fifth typo fixing wave
  .gitlab-ci.yml
  .gitlab/merge_request_templates/new_release_template.md
  src/sctoolbox/tools/norm_correct.py
Due: none

skip more directories
  pyproject.toml
Due: build

skip images encoded in jupyter notebooks
  pyproject.toml
Due: build

update changelog
  CHANGES.md
Due: none

add docker section
  docs/source/how_to_start.rst
Due: none

editable false added
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

editable false
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

update
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

clean notebook metadata
  atac_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-ATAC, build-pages, deploy-pages

add development section
  docs/source/index.rst
Due: none

add development.rst first draft
  docs/source/development.rst
Due: none

score deleted
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

sctoolboxinstead of workspace 2
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

add to the notebook section
  docs/source/development.rst
Due: none

add a package related section
  docs/source/development.rst
Due: none

fix typos
  docs/source/development.rst
  docs/source/index.rst
  docs/source/introduction.rst
Due: none

add link to the paper code repository
  docs/source/tutorials/index.rst
Due: none

fix typos
  src/sctoolbox/utils/creators.py
  tests/utils/test_creators.py
Due: lint, test coverage, check-changes

add cli section
  docs/source/how_to_start.rst
Due: none

edit recommended project structure
  docs/source/how_to_start.rst
Due: none

simplify quickstart
  docs/source/index.rst
Due: none

add jupyter extension manager to the environment
  sctoolbox_env.yml
Due: build, test coverage, check-changes, notebooks-RNA, notebooks-ATAC

enable jupyter extensions; clean mamba and pip cache
  Dockerfile
Due: build, test coverage, check-changes, notebooks-RNA, notebooks-ATAC
