Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

build:
  stage: build
  image: docker:latest
  needs:
  - extract-version
  tags:
  - sctoolbox
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apk update -qq && apk add git
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  before_script:
  - pip install .[all]
  script:
  - echo $DYNAMIC_IMAGE_TAG
  - chmod +x scripts/bedGraphToBigWig
  ...

check-changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

notebooks-RNA:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - rna_analysis/logs/*.txt
    - rna_analysis/*.ipynb
  before_script:
  - pip install .[all]
  - apt-get update
  ...

notebooks-ATAC:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - atac_analysis/*.ipynb
    - atac_analysis/logs/*.txt
  before_script:
  - pip install .[all]
  - pip install papermill
  ...

build-pages:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - job: get-container-tag
    artifacts: true
  stage: deploy
  before_script:
  - pip install .[all]
  - git submodule init
  - git submodule update
  script:
  - apt-get autoclean
  - apt-get update -qq && apt-get install -qq -y pandoc
  ...

deploy-pages:
  stage: deploy
  needs:
  - job: build-pages
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_COMMIT_REF_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
    - docs/build/html/
  script:
  ...

Edit CHANGES.md
  CHANGES.md
Due: none

implementing todos and refactoring
  src/sctoolbox/utils/bioutils.py
Due: none

add dependency
  pyproject.toml
Due: build

allow dict
  src/sctoolbox/utils/bioutils.py
Due: none

edit docstring
  src/sctoolbox/utils/bioutils.py
Due: none

remove peak_id_col
  src/sctoolbox/utils/bioutils.py
Due: none

log edit
  src/sctoolbox/utils/bioutils.py
Due: none

implement tests
  tests/utils/test_bioutils.py
Due: lint, test coverage, check-changes

update changelog
  CHANGES.md
Due: none

lint
  tests/utils/test_bioutils.py
Due: lint, test coverage, check-changes

update notebook
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
  rna_analysis/notebooks/PILOT_trajectory.ipynb
  sctoolbox/tools/mp_pilot.py
Due: lint, test import, test coverage, check-changes, notebooks-RNA, build-pages, deploy-pages

update notebook
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Fix scFates dendrogram shift (#433)
  CHANGES.md
  general_notebooks/pseudotime_analysis.ipynb
  pyproject.toml
Due: build, check-changes, notebooks-RNA, build-pages, deploy-pages

Remove notebook output
  general_notebooks/pseudotime_analysis.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

trigger pipeline
  pyproject.toml
Due: build

add InitFloatRangeSlider class to adjust init value behavior
  src/sctoolbox/plotting/qc_filter.py
Due: none

fix class name
  src/sctoolbox/plotting/qc_filter.py
Due: none

add gitlab issue template
  .gitlab/issue_templates/bug.md
Due: none

add github issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  .gitlab-ci.yml
Due: none

CI: Revert build pipeline image change
  .gitlab-ci.yml
Due: none

CI: Keep docker image version 28.5
  .gitlab-ci.yml
Due: none

from_matx: enhance path parameter to accept dicts
  src/sctoolbox/utils/assemblers.py
Due: none

test new code
  tests/utils/test_assemblers.py
Due: lint, test coverage, check-changes

update the assembly notebooks
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

test velocity notebook
  scripts/run_notebooks.py
Due: none

lint
  src/sctoolbox/utils/assemblers.py
Due: none

Edit pyproject.toml
  pyproject.toml
Due: build

Fix report issue when reclustering #431
  CHANGES.md
  atac_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
Due: check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Check for filter_gender and predict_sex to filter gender genes (#430)
  CHANGES.md
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Fix issue #430 for real now..
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Update changelog
  CHANGES.md
Due: none

Highlight doublet threshold and make it more adjustable (#328)
  CHANGES.md
  atac_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  src/sctoolbox/tools/qc_filter.py
  tests/tools/test_qc_filter.py
Due: lint, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

lint
  src/sctoolbox/tools/qc_filter.py
  tests/tools/test_qc_filter.py
Due: lint, test coverage, check-changes

add introduction text to tutorials
  docs/source/tutorials/index.rst
Due: none

fix links
  docs/source/tutorials/index.rst
Due: none

add missing whitespace
  docs/source/tutorials/index.rst
Due: none

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
