Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

fix backslash in f-string expression
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

linting
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Edit setup.py
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks

add missing pairwise variable and update CHANGES.rst
  CHANGES.rst
  general_notebooks/proportion_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

add parameter to ignore comment lines in bed files
  sctoolbox/utils/bioutils.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

update changelog
  CHANGES.rst
Due: none

tobias>=0.17.2
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks

add parameter to ignore comment lines when reading bedfiles
  sctoolbox/utils/bioutils.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

add split=True to add_slide function
  general_notebooks/proportion_analysis.ipynb
  sctoolbox/tools/report.py
Due: lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

fix warnings
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

migrate to numpy 2
  sctoolbox/data/SCSA_custom.py
  sctoolbox/tools/norm_correct.py
  setup.py
  tests/tools/test_receptor_ligand.py
Due: build, lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

update pilot notebook
  general_notebooks/PILOT_trajectory.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

empty notebook
  general_notebooks/PILOT_trajectory.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

delete old notebook
  general_notebooks/trajectory_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

add missing delete_obs and delete_var parameters in prepare_for_cellxgene
  general_notebooks/prepare_for_cellxgene.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Fix error when a read does not have the tag and add a warning about this
  sctoolbox/tools/bam.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

fix warning
  sctoolbox/tools/bam.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

add numpy types to return. Does this satisfy beartpye in the notebook job?
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

lint
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

add split paramter only to proportion analysis
  rna_analysis/notebooks/99-report.ipynb
  sctoolbox/tools/report.py
Due: lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

bump scanpro version
  sctoolbox_env.yml
Due: build, test coverage, check-changes, notebooks

write_TOBIAS_config: replace forbidden characters in condition names
  sctoolbox/tools/tobias.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

add split=True to atac report notebook
  atac_analysis/notebooks/99-report.ipynb
  rna_analysis/notebooks/99-report.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

remove scFates from default installed dependencies and skip the pseudotime notebook testing due to version conflicts
  scripts/run_notebooks.py
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks

split_bam_clusters: add more special characters that should be replaced in filenames
  sctoolbox/tools/bam.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

lint
  sctoolbox/tools/tobias.py
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

fix notebook exclusion
  scripts/run_notebooks.py
Due: none

3rd try; exclude the pseudotime notebook
  scripts/run_notebooks.py
Due: none

always upload notebook artifacts
  .gitlab-ci.yml
Due: none

split notebook job into ATAC and RNA
  .gitlab-ci.yml
  scripts/run_notebooks.py
Due: none

trigger notebook jobs
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks

unpin setuptools_scm
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks

implemented tidy_layers
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

add unit-tests
  tests/utils/test_adata.py
Due: lint, test coverage, check-changes

lint
  sctoolbox/utils/adata.py
  tests/utils/test_adata.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Fix test that expects adata without raw
  tests/utils/test_adata.py
Due: lint, test coverage, check-changes
