Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

update rna/01 report
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

rna/QC reorder report output
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

use plot_table
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Add option to set a figure title
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/qc_filter.py
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

plot_pca_variance: add suptitle and selected cumulative variance line
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

plot_pca_variance: add log y-axis option; closes #308
  CHANGES.rst
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

plot_pca_variance: disable suptitle when ax is used
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Fix cell coloring by using JS and index based coloring
  docs/source/_static/css/custom.css
  docs/source/conf.py
  docs/source/tutorials/scRNA-seq_Analysis/Core_Analysis/index.rst
Due: none

plot_group_embeddings: add suptitle
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

RNA/03 report prep
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

RNA/04 report prep
  rna_analysis/notebooks/04_clustering.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Add custom javascript file
  docs/source/_static/js/custom.js
Due: none

remove unused code
  docs/source/_static/css/custom.css
Due: none

Update CI: notebook-output-check
  .gitlab-ci.yml
Due: none

Minor changes/fixes
  docs/source/index.rst
  docs/source/tutorials/scRNA-seq_Analysis/Advance_Analysis/index.rst
  docs/source/tutorials/scRNA-seq_Analysis/Advanced_Analysis/index.rst
  docs/source/tutorials/scRNA-seq_Analysis/index.rst
Due: none

add dpi to settings and use it for plotting
  sctoolbox/_settings.py
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

rl: report database excerpt and add prefix to diff-network plot
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Update CI: Notebook-output-check: adjust regex for notebook detection
  .gitlab-ci.yml
Due: none

rl plots use settings.dpi
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

velocity notebook: add missing save and embedding parameter
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Update Changelog
  CHANGES.rst
Due: none

plot_interaction_timeline: compact legend
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

report_dpi to 200
  sctoolbox/_settings.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

RNA/02 change report order
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

RNA/03 save batch method in bold text
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

RNA/LR1 fix cell-bg; update for report
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

RNA/LR2 remove dpi, it's now a global setting
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Allows differential R-L plots to be saved as PDF
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Update changelog
  CHANGES.rst
Due: none

R-L: Update save format parameter
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

Add missing save parameter
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

lint lint
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

minor fixes
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  tests/tools/test_receptor_ligand.py
Due: lint, test coverage, check-changes, notebooks, build-pages, deploy-pages

lint
  sctoolbox/tools/tobias.py
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

rename to 0A_tobias.ipynb
  atac_analysis/notebooks/0A_tobias.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

test tobias notebook
  scripts/run_notebooks.py
Due: none

update changelog
  CHANGES.rst
Due: none

annotation.ipynb: reorder report; remove whitespaces
  general_notebooks/annotation.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages
