Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

add a layer section to the assembly notebooks
  CHANGES.rst
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

update pilot notebook
  general_notebooks/PILOT_trajectory.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

explain key AnnData attributes
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

build package and upload to GitLab package registry
  .gitlab-ci.yml
Due: none

build the package only for commits on main
  .gitlab-ci.yml
Due: none

constrain python<3.13 due to cmake
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks

temporarily allow manual trigger for testing
  .gitlab-ci.yml
Due: none

twine verbose
  .gitlab-ci.yml
Due: none

Change package install name to SC-Framework (does not affect imports)
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks

add PyPI upload job
  .gitlab-ci.yml
Due: none

format changelog
  CHANGES.rst
Due: none

automatic release creation
  .gitlab-ci.yml
  scripts/collect_changes.py
Due: none

fix identation
  .gitlab-ci.yml
Due: none

fix script declaration
  .gitlab-ci.yml
Due: none

fix identation again
  .gitlab-ci.yml
Due: none

enable publish stage
  .gitlab-ci.yml
Due: none

use a python image and install the GitLab CLI tool
  .gitlab-ci.yml
Due: none

update release template
  .gitlab/merge_request_templates/new_release_template.md
Due: none

lint
  .gitlab-ci.yml
Due: none

update template
  .gitlab/merge_request_templates/new_release_template.md
Due: none

edit release template
  .gitlab/merge_request_templates/new_release_template.md
Due: none

remove sudo
  .gitlab-ci.yml
Due: none

fix GitLab-release requirements
  .gitlab-ci.yml
Due: none

match package and changelog version
  CHANGES.rst
Due: none

add small detail to parameter overview
  general_notebooks/proportion_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

collect changes in the package build job
  .gitlab-ci.yml
Due: none

prep job dependencies
  .gitlab-ci.yml
Due: none

add PyPI section to tempalte
  .gitlab/merge_request_templates/new_release_template.md
Due: none

fix syntax
  .gitlab-ci.yml
Due: none

store the changelog in a file as .env does not support multiline variables
  .gitlab-ci.yml
Due: none

delete TODOs
  .gitlab-ci.yml
Due: none

final job edits
  .gitlab-ci.yml
Due: none

Return to none beta version
  CHANGES.rst
Due: none

better error message
  scripts/collect_changes.py
Due: none

Add the readme as package description (shown in PyPI)
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks

lint
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks

defined dataset download docu
  sctoolbox/tools/download_data.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

add path to docstring
  sctoolbox/tools/download_data.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Update notebook
  general_notebooks/PILOT_trajectory.ipynb
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

finalize dataset downloaders and add progress bar during download
  sctoolbox/tools/download_data.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages
