Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

bump version
  sctoolbox/_version.py
Due: lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

fixed spelling mistake in title of plot
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

lint
  sctoolbox/tools/calc_overlap_fc.py
  sctoolbox/tools/embedding.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

fix duplicated key
  sctoolbox/_settings.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Edit CHANGES.rst
  CHANGES.rst
Due: none

Apply 2 suggestion(s) to 1 file(s)
  CHANGES.rst
Due: none

adjust imports; use settings.threads
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

adjust imports; use settings.threads
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

adjust imports; use settings.threads
  rna_analysis/notebooks/04_clustering.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

adjust imports; use settings.threads
  atac_analysis/notebooks/04_clustering.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Apply 3 suggestion(s) to 3 file(s)
  sctoolbox/tools/norm_correct.py
  sctoolbox/tools/qc_filter.py
  sctoolbox/tools/tobias.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Changelog release update
  CHANGES.rst
Due: none

Bump notebook version to 0.13.4
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  atac_analysis/notebooks/02_QC_filtering.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  atac_analysis/notebooks/0A_tobias.ipynb
  atac_analysis/notebooks/99-report.ipynb
  atac_analysis/notebooks/test_data/references/process_testdata.ipynb
  general_notebooks/GSEA.ipynb
  general_notebooks/annotation.ipynb
  general_notebooks/group_markers.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
  rna_analysis/notebooks/99-report.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

change pydeseq2 dependency to fix bug
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks

run_pydeseq: fix relation between sample and condition check and check for replicates
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

update changelog
  CHANGES.rst
Due: none

lint...
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

fix the replicate check (the speed at which I'm programming is really biting me)
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Bump sctoolbox version to 0.13.5
  sctoolbox/_version.py
Due: lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

Bump notebook version to 0.13.5
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  atac_analysis/notebooks/02_QC_filtering.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  atac_analysis/notebooks/0A_tobias.ipynb
  atac_analysis/notebooks/99-report.ipynb
  atac_analysis/notebooks/test_data/references/process_testdata.ipynb
  general_notebooks/GSEA.ipynb
  general_notebooks/annotation.ipynb
  general_notebooks/group_markers.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
  rna_analysis/notebooks/99-report.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

add pilot notebook
  general_notebooks/trajectory_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Revert "add pilot notebook"
  general_notebooks/trajectory_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

atac QC: add gene annotation step
  atac_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

atac clustering: remove gene annotation step
  atac_analysis/notebooks/04_clustering.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

ATAC notebook 2: remove HVF step
  atac_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

ATAC 03: add HVF step
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

update notebook pilot
  general_notebooks/trajectory_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

fix string
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

adjust report notebook
  atac_analysis/notebooks/99-report.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

put the report notebook last
  scripts/run_notebooks.py
Due: none

also test pseudotime and proportion notebooks
  .gitlab-ci.yml
Due: none

fix the notebook ordering key
  scripts/run_notebooks.py
Due: none

bump to version 0.14.0 beta
  sctoolbox/_version.py
Due: lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

make assembly notebook optional
  sctoolbox/data/method_templates/RNA-methods.md
Due: none

update proportion notebook for scanpro 0.4.0
  general_notebooks/proportion_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

replace "/" with "|" before writing anndata
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages
