Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

build:
  stage: build
  image: docker:latest
  needs:
  - extract-version
  tags:
  - sctoolbox
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apk update -qq && apk add git
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  before_script:
  - pip install .[all]
  script:
  - echo $DYNAMIC_IMAGE_TAG
  - chmod +x scripts/bedGraphToBigWig
  ...

check-changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

notebooks-RNA:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - rna_analysis/logs/*.txt
    - rna_analysis/*.ipynb
  before_script:
  - pip install .[all]
  - apt-get update
  ...

notebooks-ATAC:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - atac_analysis/*.ipynb
    - atac_analysis/logs/*.txt
  before_script:
  - pip install .[all]
  - pip install papermill
  ...

build-pages:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - job: get-container-tag
    artifacts: true
  stage: deploy
  before_script:
  - pip install .[all]
  - git submodule init
  - git submodule update
  script:
  - apt-get autoclean
  - apt-get update -qq && apt-get install -qq -y pandoc
  ...

deploy-pages:
  stage: deploy
  needs:
  - job: build-pages
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_COMMIT_REF_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
    - docs/build/html/
  script:
  ...

remove IPython version bound
  pyproject.toml
Due: build

add python-gitlab
  pyproject.toml
Due: build

add ipympl
  pyproject.toml
Due: build

add openpyxl
  pyproject.toml
Due: build

install scar for testing
  .gitlab-ci.yml
Due: none

remove deprecated remove_files traces
  src/sctoolbox/tools/bam.py
  src/sctoolbox/tools/celltype_annotation.py
  tests/utils/test_io.py
Due: lint, test coverage, check-changes

fix pip install
  .gitlab-ci.yml
Due: none

fix rm_tmp call
  src/sctoolbox/tools/bam.py
  src/sctoolbox/tools/celltype_annotation.py
Due: none

up markerRepo version
  pyproject.toml
Due: build

add omic (introduced with markerRepo 0.1.3)
  general_notebooks/annotation.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

edit default rank_genes_column
  general_notebooks/annotation.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

migrate from flake8 to ruff
  .gitlab-ci.yml
  pyproject.toml
Due: build

trigger linting
  src/sctoolbox/plotting/clustering.py
Due: none

update changelog
  CHANGES.md
Due: none

ignore F822 in __init__.py
  pyproject.toml
Due: build

lint _settings.py
  src/sctoolbox/_settings.py
Due: none

speed up pip resolve
  pyproject.toml
Due: build

more lower version bounds to speed up install
  pyproject.toml
Due: build

don't check complexity for some functions
  src/sctoolbox/plotting/embedding.py
Due: none

ignore more rules
  pyproject.toml
Due: build

forgot a ,
  pyproject.toml
Due: build

lint plotting/empedding.py
  src/sctoolbox/plotting/embedding.py
Due: none

lint plotting/general.py
  src/sctoolbox/plotting/general.py
Due: none

lint plotting/genometracks.py
  src/sctoolbox/plotting/genometracks.py
Due: none

lint plotting/gsea.py
  src/sctoolbox/plotting/gsea.py
Due: none

lint plotting/marker_genes.py
  src/sctoolbox/plotting/marker_genes.py
Due: none

lint plotting/planet_plot.py
  src/sctoolbox/plotting/planet_plot.py
Due: none

lint plotting/qc_filter.py
  src/sctoolbox/plotting/qc_filter.py
Due: none

lint tools/bam.py
  src/sctoolbox/tools/bam.py
Due: none

lint tools/calc_overlap_fc.py
  src/sctoolbox/tools/calc_overlap_fc.py
Due: none

lint tools/celltype_annotation.py
  src/sctoolbox/tools/celltype_annotation.py
Due: none

lint tools/clustering.py
  src/sctoolbox/tools/clustering.py
Due: none

lint tools/dim_reduction.py
  src/sctoolbox/tools/dim_reduction.py
Due: none

lint tools/embedding
  src/sctoolbox/tools/embedding.py
Due: none

lint tools/gene_correlation.py
  src/sctoolbox/tools/gene_correlation.py
Due: none

lint tools/gsea.py
  src/sctoolbox/tools/gsea.py
Due: none

lint tools/insertsize.py
  src/sctoolbox/tools/insertsize.py
Due: none

lint tools/marker_genes.py
  src/sctoolbox/tools/marker_genes.py
Due: none

ruff auto fixes
  src/sctoolbox/tools/norm_correct.py
  src/sctoolbox/tools/qc_filter.py
  src/sctoolbox/utils/assemblers.py
  src/sctoolbox/utils/creators.py
  src/sctoolbox/utils/decorator.py
  tests/plotting/test_planet_plot.py
Due: lint, test coverage, check-changes

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
