Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

build:
  stage: build
  image: docker:latest
  needs:
  - extract-version
  tags:
  - sctoolbox
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apk update -qq && apk add git
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  before_script:
  - pip install .[all]
  script:
  - echo $DYNAMIC_IMAGE_TAG
  - chmod +x scripts/bedGraphToBigWig
  ...

check-changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

notebooks-RNA:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - rna_analysis/logs/*.txt
    - rna_analysis/*.ipynb
  before_script:
  - pip install .[all]
  - apt-get update
  ...

notebooks-ATAC:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - atac_analysis/*.ipynb
    - atac_analysis/logs/*.txt
  before_script:
  - pip install .[all]
  - pip install papermill
  ...

build-pages:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - job: get-container-tag
    artifacts: true
  stage: deploy
  before_script:
  - pip install .[all]
  - git submodule init
  - git submodule update
  script:
  - apt-get autoclean
  - apt-get update -qq && apt-get install -qq -y pandoc
  ...

deploy-pages:
  stage: deploy
  needs:
  - job: build-pages
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_COMMIT_REF_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
    - docs/build/html/
  script:
  ...

Fix duplicate pseudotime export columns
  src/sctoolbox/tools/palantir_analysis.py
Due: none

Notebook cleanup
  atac_analysis/notebooks/02_QC_filtering.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  general_notebooks/GSEA.ipynb
  general_notebooks/annotation.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
Due: check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

whatever
  general_notebooks/GSEA.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

replace bioarxiv badge
  README.md
Due: none

update overview image
  image/sc_framework_overview.png
Due: none

replace bioarxiv badges
  docs/source/cite.rst
  docs/source/index.rst
Due: none

update zenodo link to 'all version'
  README.md
  docs/source/cite.rst
  docs/source/index.rst
Due: none

update method sections
  src/sctoolbox/data/method_templates/ATAC-methods.md
  src/sctoolbox/data/method_templates/RNA-methods.md
Due: none

update changelog
  CHANGES.md
Due: none

update zenodo links
  .claude/skills/release/SKILL.md
  .gitlab/merge_request_templates/new_release_template.md
Due: none

Apply suggested changes 1
  src/sctoolbox/plotting/gsea.py
  src/sctoolbox/plotting/marker_genes.py
  src/sctoolbox/utils/adata.py
Due: none

Test CI: Only get sc_framework repo
  .gitlab-ci.yml
Due: none

Fix for CI test
  .gitlab-ci.yml
Due: none

CI hot test
  .gitlab-ci.yml
Due: none

CI: Fix deletion
  .gitlab-ci.yml
Due: none

Hardcode repo id instead of name
  .gitlab-ci.yml
Due: none

Set cleanup-orphan-tags rule back to commit on main
  .gitlab-ci.yml
Due: none

Merge utils.remove_group tests by using parameterize
  tests/utils/test_adata.py
Due: lint, test coverage, check-changes

lint
  tests/utils/test_adata.py
Due: lint, test coverage, check-changes

replace NDArray to fix PEP484 error
  src/sctoolbox/utils/checker.py
Due: none

replace NDArray with np.ndarray
  src/sctoolbox/plotting/general.py
Due: none

replace NDArray with np.ndarray
  src/sctoolbox/plotting/clustering.py
  src/sctoolbox/plotting/gsea.py
  src/sctoolbox/plotting/marker_genes.py
  src/sctoolbox/plotting/planet_plot.py
Due: none

align description and return types
  src/sctoolbox/plotting/planet_plot.py
Due: none

replace NDArray with numpy.ndarray
  src/sctoolbox/plotting/embedding.py
Due: none

replace NDArray with np.ndarray
  src/sctoolbox/plotting/qc_filter.py
Due: none

replace NDArray with np.ndarray
  src/sctoolbox/plotting/multiomics.py
  src/sctoolbox/tools/multiomics.py
Due: none

update dev install in docu
  docs/source/development.rst
Due: none

explicitly run .pull_obs to combine modality obs (required as of muon 0.1.9)
  src/sctoolbox/tools/multiomics.py
  tests/plotting/test_multiomics.py
  tests/tools/test_multiomics.py
Due: lint, test coverage, check-changes

pin muon>=0.1.9 and remove deprecated warning filter
  pyproject.toml
Due: build

fixed typo and docstring inconsistencies
  src/sctoolbox/tools/multiomics.py
Due: none

re-implement LIANA's now private explode_complexes
  src/sctoolbox/tools/receptor_ligand.py
Due: none

reduce overhead by only checking for format (no fixing attempts, which would be ignored)
  src/sctoolbox/tools/peak_annotation.py
Due: none

implement and test _normalize_coordinate_columns
  src/sctoolbox/utils/checker.py
  tests/utils/test_checker.py
Due: lint, test coverage, check-changes

add error and verbose parameter to validate_regions
  src/sctoolbox/utils/checker.py
Due: none

var_index_to_columns: incorporate _normalize_and_coordinate_columns and validate_regions changes
  src/sctoolbox/utils/checker.py
Due: none

implement/refactor tests for the changed functions
  tests/utils/test_checker.py
Due: lint, test coverage, check-changes

switch to bed format corresponding "end" column name instead of "stop"
  src/sctoolbox/utils/assemblers.py
  src/sctoolbox/utils/checker.py
Due: none

change col name from "stop" to "end"
  tests/data/atac/mm10_atac.h5ad
Due: none

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
