Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

linting
  tests/tools/test_tobias.py
Due: lint, test coverage, check-changes

fixed test
  tests/tools/test_tobias.py
Due: lint, test coverage, check-changes

fixed cleanup
  tests/tools/test_tobias.py
Due: lint, test coverage, check-changes

added missing pandas import
  atac_analysis/notebooks/0A_tobias.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file #375
  .gitlab-ci.yml
Due: none

cache the names of the loaded modules during import
  sctoolbox/__init__.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

implement and test get_version_report
  sctoolbox/utils/general.py
  tests/utils/test_general.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

fix missing param
  tests/plotting/test_general.py
Due: lint, test coverage, check-changes

update changelog
  CHANGES.rst
Due: none

Set scrublet to single thread
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Added tobias to notebooks settings config
  atac_analysis/notebooks/config.yaml
Due: none

adapated settings
  atac_analysis/notebooks/0A_tobias.ipynb
  atac_analysis/notebooks/config.yaml
Due: check-changes, notebooks, build-pages, deploy-pages

changed bamfile to 10k_PBMCs
  atac_analysis/notebooks/0A_tobias.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

plot_table: col_width allow a list of widths
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Added try/finally to test_tobias.py
  tests/tools/test_tobias.py
Due: lint, test coverage, check-changes

add sctoolbox.tools.report
  sctoolbox/tools/__init__.py
  sctoolbox/tools/report.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

generate_report adjustments
  sctoolbox/tools/report.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

implement report notebook
  rna_analysis/notebooks/99-report.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

update changes
  CHANGES.rst
Due: none

add uropa and tobias to version report vip packages
  sctoolbox/utils/general.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

rna report notebook fix kernel
  rna_analysis/notebooks/99-report.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

add version section to rna and general notebooks
  general_notebooks/GSEA.ipynb
  general_notebooks/annotation.ipynb
  general_notebooks/group_markers.ipynb
  general_notebooks/proportion_analysis.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

lint
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/general.py
  sctoolbox/tools/gsea.py
  sctoolbox/tools/marker_genes.py
  sctoolbox/tools/report.py
  sctoolbox/utils/general.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

lint
  sctoolbox/tools/report.py
  sctoolbox/utils/general.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

lsi: fixed total explained variance always 100%
  CHANGES.rst
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

gitignore atac_analysis/tobias/
  .gitignore
Due: none

fix col_width not working for single numbers
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

plot_table: option to approximate column width based on fontsize
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

fix auto column width
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Fix error with show_index=False
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

static col_width no longer needed
  sctoolbox/tools/report.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

fix typo
  atac_analysis/notebooks/config.yaml
Due: none

get_rank_genes_tables: fix empty excel file
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

ATAC 01: report adjustments
  atac_analysis/notebooks/01_assembling_anndata.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

ATAC 02: report adjustments
  atac_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

ATAC 03: report adjustments
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages
