Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

build:
  stage: build
  image: docker:latest
  needs:
  - extract-version
  tags:
  - sctoolbox
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apk update -qq && apk add git
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  before_script:
  - pip install .[all]
  script:
  - echo $DYNAMIC_IMAGE_TAG
  - chmod +x scripts/bedGraphToBigWig
  ...

check-changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

notebooks:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    paths:
    - rna_analysis/logs/*.txt
    - rna_analysis/*.ipynb
    - atac_analysis/*.ipynb
    - atac_analysis/logs/*.txt
  before_script:
  - pip install .[all]
  script:
  ...

build-pages:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - job: get-container-tag
    artifacts: true
  stage: deploy
  before_script:
  - pip install .[all]
  script:
  - apt-get autoclean
  - apt-get update -qq && apt-get install -qq -y pandoc
  - pip install sphinx sphinx-rtd-theme
  - pip install sphinx-exec-code
  ...

deploy-pages:
  stage: deploy
  needs:
  - job: build-pages
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_COMMIT_REF_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
    - docs/build/html/
  script:
  ...

plot_table: implemented round; fixed doc-string
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

prop analysis: use plot_table
  general_notebooks/proportion_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

pseudotime notebook: adjust report
  general_notebooks/pseudotime_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

get_rank_genes_tables: remove report, the tables are too much for the power point
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

omit remaining report code
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

group marker: adjust report
  general_notebooks/group_markers.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

fix typo in config
  rna_analysis/notebooks/config.yaml
Due: none

revised based on revision
  atac_analysis/notebooks/0A_tobias.ipynb
  sctoolbox/tools/tobias.py
Due: lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

Fix tests and notebook
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  tests/tools/test_receptor_ligand.py
Due: lint, test coverage, check-changes, notebooks, build-pages, deploy-pages

implemented suppress_logging
  CHANGES.rst
  sctoolbox/utils/general.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

suppress gseapy logging
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

remove unnecessary and unused parameter; enrichr has a cutoff param but this is only used for its plot which we don't use
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

clustermap_dotplot: add report argument
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

disable logger progpagation. This prevents duplicated logs, occurring when multiple handlers are defined
  sctoolbox/_settings.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

remove report save; wrong location
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

GSEA: formatting
  general_notebooks/GSEA.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

install scvelo from fork to fix bug
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks

run the velocity notebook in CI/CD
  scripts/run_notebooks.py
Due: none

Velocity notebook: adjust report
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

added missing os import
  atac_analysis/notebooks/0A_tobias.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

added testdata preprocessing notebook
  atac_analysis/notebooks/test_data/references/10k_pbmc_ATACv1p1_nextgem_Chromium_X_summary.json
  atac_analysis/notebooks/test_data/references/10k_pbmc_ATACv1p1_nextgem_Chromium_X_web_summary.html
  atac_analysis/notebooks/test_data/references/10k_pbmc_ATACv2_nextgem_Chromium_Controller_summary.json
  atac_analysis/notebooks/test_data/references/10k_pbmc_ATACv2_nextgem_Chromium_Controller_web_summary.html
  atac_analysis/notebooks/test_data/references/atac_pbmc_5k_nextgem_web_summary.html
  atac_analysis/notebooks/test_data/references/atac_v1_pbmc_5k_web_summary.html
  atac_analysis/notebooks/test_data/references/process_testdata.ipynb
Due: none

adapted to new testdata
  atac_analysis/notebooks/01_assembling_anndata.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Edit CHANGES.rst
  CHANGES.rst
Due: none

fixed adata input after solving conflicts
  atac_analysis/notebooks/01_assembling_anndata.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

changed to new fragment file
  atac_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Changed "/" to "|"n as "/" is not in allowed anymore in anndata.uns
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Fix invisible connections in connection plot
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

removed episcanpy as not working anymore with latest anndata
  atac_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Update changelog
  CHANGES.rst
Due: none

Apply suggestion
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Add comment explaining minimum alpha setting
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

changed hg38_genes.gtf to chr1 only then chr11
  atac_analysis/notebooks/test_data/hg38_genes.gtf
Due: none

fixed corrupted gtf
  atac_analysis/notebooks/test_data/hg38_genes.gtf
Due: none

added description
  atac_analysis/notebooks/test_data/references/process_testdata.ipynb
Due: none

removed additional gtf file
  atac_analysis/notebooks/04_clustering.ipynb
  atac_analysis/notebooks/test_data/hg38_genes.gtf
Due: check-changes, notebooks, build-pages, deploy-pages

remove episcanpy dependency
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks

linting
  tests/tools/test_tobias.py
Due: lint, test coverage, check-changes

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
