Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

build:
  stage: build
  image: docker:latest
  needs:
  - extract-version
  tags:
  - sctoolbox
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apk update -qq && apk add git
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  before_script:
  - pip install .[all]
  script:
  - echo $DYNAMIC_IMAGE_TAG
  - chmod +x scripts/bedGraphToBigWig
  ...

check-changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

notebooks-RNA:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - rna_analysis/logs/*.txt
    - rna_analysis/*.ipynb
  before_script:
  - pip install .[all]
  - apt-get update
  ...

notebooks-ATAC:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - atac_analysis/*.ipynb
    - atac_analysis/logs/*.txt
  before_script:
  - pip install .[all]
  - pip install papermill
  ...

build-pages:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - job: get-container-tag
    artifacts: true
  stage: deploy
  before_script:
  - pip install .[all]
  - git submodule init
  - git submodule update
  script:
  - apt-get autoclean
  - apt-get update -qq && apt-get install -qq -y pandoc
  ...

deploy-pages:
  stage: deploy
  needs:
  - job: build-pages
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_COMMIT_REF_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
    - docs/build/html/
  script:
  ...

Removed hardcoded variables
  tests/tools/test_amulet.py
Due: lint, test coverage, check-changes

parametrized tests
  tests/tools/test_amulet.py
Due: lint, test coverage, check-changes

lint DOC201 (return doc missing)
  src/sctoolbox/tools/qc_filter.py
  src/sctoolbox/tools/receptor_ligand.py
  src/sctoolbox/utils/assemblers.py
  tests/plotting/test_clustering.py
  tests/plotting/test_embedding_pl.py
  tests/plotting/test_general.py
  tests/plotting/test_gsea_plotting.py
  tests/plotting/test_highly_variable.py
  tests/plotting/test_marker_genes.py
  tests/plotting/test_planet_plot.py
  tests/plotting/test_qc_filter.py
  tests/plotting/test_velocity.py
  tests/tools/test_bam.py
  tests/tools/test_calc_overlap_fc.py
  tests/tools/test_celltype_annotation.py
  tests/tools/test_clustering.py
  tests/tools/test_dim_reduction.py
  tests/tools/test_embedding_tl.py
  tests/tools/test_frip.py
  tests/tools/test_gene_correlation.py
  tests/tools/test_gsea.py
  tests/tools/test_highly_variable.py
  tests/tools/test_insertsize.py
  tests/tools/test_marker_genes.py
  tests/tools/test_multiomics.py
  tests/tools/test_norm_correct.py
  tests/tools/test_peak_annotation.py
  tests/tools/test_qc_filter.py
  tests/tools/test_receptor_ligand.py
  tests/tools/test_tobias.py
  tests/tools/test_tsse.py
  tests/utils/test_adata.py
  tests/utils/test_assemblers.py
  tests/utils/test_bioutils.py
  tests/utils/test_checker.py
  tests/utils/test_decorator.py
  tests/utils/test_general.py
  tests/utils/test_tables.py
Due: lint, test coverage, check-changes

lint tools/norm_correct.py
  src/sctoolbox/tools/norm_correct.py
Due: none

lint tools/peak_annotation.py
  src/sctoolbox/tools/peak_annotation.py
Due: none

lint tools/qc_filter.py
  src/sctoolbox/tools/qc_filter.py
Due: none

lint tools/receptor_ligand.py
  src/sctoolbox/tools/receptor_ligand.py
Due: none

lint tools/report.py
  src/sctoolbox/tools/report.py
Due: none

lint tools/tobias.py
  src/sctoolbox/tools/tobias.py
Due: none

lint utils/assemblers.py
  src/sctoolbox/utils/assemblers.py
Due: none

lint utils/bioutils.py
  src/sctoolbox/utils/bioutils.py
Due: none

lint utils/checker.py
  src/sctoolbox/utils/checker.py
Due: none

lint utils/creators.py
  src/sctoolbox/utils/creators.py
Due: none

lint utils/adata.py
  src/sctoolbox/utils/adata.py
Due: none

lint tests/plotting/test_embedding_pl.py
  tests/plotting/test_embedding_pl.py
Due: lint, test coverage, check-changes

lint tests/tools/test_peak_annotation.py
  tests/tools/test_peak_annotation.py
Due: lint, test coverage, check-changes

lint tests/tools/test_qc_filter.py
  tests/tools/test_qc_filter.py
Due: lint, test coverage, check-changes

lint tests/utils/test_bioutils.py
  tests/utils/test_bioutils.py
Due: lint, test coverage, check-changes

change error class
  tests/test_settings.py
Due: lint, test coverage, check-changes

update .gitignore
  .gitignore
Due: none

add D417 rule
  pyproject.toml
Due: build

lint
  src/sctoolbox/tools/report.py
Due: none

enable flake annotation rules
  pyproject.toml
Due: build

disable flake8-annotation rules for tests
  pyproject.toml
Due: build

lint _settings.py
  src/sctoolbox/_settings.py
Due: none

lint plotting
  src/sctoolbox/plotting/__init__.py
  src/sctoolbox/plotting/clustering.py
  src/sctoolbox/plotting/embedding.py
  src/sctoolbox/plotting/genometracks.py
  src/sctoolbox/plotting/highly_variable.py
  src/sctoolbox/plotting/planet_plot.py
  src/sctoolbox/plotting/qc_filter.py
Due: none

lint tools
  src/sctoolbox/tools/__init__.py
  src/sctoolbox/tools/clustering.py
  src/sctoolbox/tools/download_data.py
  src/sctoolbox/tools/gene_correlation.py
  src/sctoolbox/tools/norm_correct.py
  src/sctoolbox/tools/receptor_ligand.py
  src/sctoolbox/tools/tobias.py
Due: none

lint utils
  src/sctoolbox/utils/__init__.py
  src/sctoolbox/utils/adata.py
  src/sctoolbox/utils/assemblers.py
  src/sctoolbox/utils/checker.py
  src/sctoolbox/utils/creators.py
  src/sctoolbox/utils/decorator.py
  src/sctoolbox/utils/io.py
Due: none

add missing parameters
  src/sctoolbox/tools/gene_correlation.py
Due: none

lint
  src/sctoolbox/tools/gene_correlation.py
Due: none

delete deprecated function
  src/sctoolbox/tools/norm_correct.py
  tests/tools/test_norm_correct.py
Due: lint, test coverage, check-changes

Apply 1 suggestion(s) to 1 file(s)
  src/sctoolbox/tools/qc_filter.py
Due: none

lint
  src/sctoolbox/utils/creators.py
  src/sctoolbox/utils/decorator.py
Due: none

fix return type
  src/sctoolbox/tools/__init__.py
  src/sctoolbox/utils/__init__.py
Due: none

fix Module return
  src/sctoolbox/plotting/__init__.py
  src/sctoolbox/tools/__init__.py
  src/sctoolbox/utils/__init__.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  src/sctoolbox/plotting/embedding.py
Due: none

import Any
  src/sctoolbox/plotting/planet_plot.py
Due: none

add Any import
  src/sctoolbox/tools/clustering.py
Due: none

delete superfluous comments
  .gitlab-ci.yml
Due: none

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
