Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

build:
  stage: build
  image: docker:latest
  needs:
  - extract-version
  tags:
  - sctoolbox
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apk update -qq && apk add git
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  before_script:
  - pip install .[all]
  script:
  - echo $DYNAMIC_IMAGE_TAG
  - chmod +x scripts/bedGraphToBigWig
  ...

check-changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

notebooks-RNA:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - rna_analysis/logs/*.txt
    - rna_analysis/*.ipynb
  before_script:
  - pip install .[all]
  - apt-get update
  ...

notebooks-ATAC:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - atac_analysis/*.ipynb
    - atac_analysis/logs/*.txt
  before_script:
  - pip install .[all]
  - pip install papermill
  ...

build-pages:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - job: get-container-tag
    artifacts: true
  stage: deploy
  before_script:
  - pip install .[all]
  - git submodule init
  - git submodule update
  script:
  - apt-get autoclean
  - apt-get update -qq && apt-get install -qq -y pandoc
  ...

deploy-pages:
  stage: deploy
  needs:
  - job: build-pages
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_COMMIT_REF_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
    - docs/build/html/
  script:
  ...

further refine CLAUDE.md
  CLAUDE.md
Due: none

commit via claude or manually
  .claude/agents/implementer.md
  .claude/skills/design/SKILL.md
  .claude/skills/design/design-template.md
  .claude/skills/implement/SKILL.md
  .claude/skills/sys-commit/SKILL.md
  .claude/skills/sys-implement/SKILL.md
  .claude/skills/sys-plan/SKILL.md
  .claude/skills/sys-plan/plan-template.md
  CLAUDE.md
Due: none

more specific version steps
  .claude/skills/implement/SKILL.md
Due: none

add codespell to allow list
  .claude/settings.json
Due: none

refine permissions
  .claude/settings.json
  .claude/skills/design/SKILL.md
  .claude/skills/implement/SKILL.md
Due: none

better define release lifecycle
  .claude/skills/implement/SKILL.md
  .claude/skills/release/SKILL.md
  .claude/skills/sys-changelog/SKILL.md
Due: none

refine release skill
  .claude/skills/release/SKILL.md
Due: none

move some skills to .claude/docs so they are loaded on demand (not always)
  .claude/agents/code-reviewer.md
  .claude/agents/implementer.md
  .claude/agents/plan-reviewer.md
  .claude/agents/planner.md
  .claude/docs/plan-template.md
  .claude/docs/sys-changelog.md
  .claude/docs/sys-code-review.md
  .claude/docs/sys-examples.md
  .claude/docs/sys-implement.md
  .claude/docs/sys-plan-review.md
  .claude/docs/sys-plan.md
  .claude/skills/implement/SKILL.md
  .claude/skills/release/SKILL.md
Due: none

add global adata loader fixtures
  tests/conftest.py
Due: lint, test coverage, check-changes

use global fixture as base
  tests/tools/test_gene_correlation.py
Due: lint, test coverage, check-changes

use global fixture
  tests/tools/test_qc_filter.py
Due: lint, test coverage, check-changes

use global fixture
  tests/tools/test_receptor_ligand.py
Due: lint, test coverage, check-changes

use global fixture
  tests/tools/test_marker_genes.py
Due: lint, test coverage, check-changes

more fixture refactoring
  tests/conftest.py
  tests/tools/test_embedding_tl.py
  tests/utils/test_adata.py
Due: lint, test coverage, check-changes

create a global random_adata fixture and use it for the tests
  tests/conftest.py
  tests/utils/test_adata.py
  tests/utils/test_bioutils.py
Due: lint, test coverage, check-changes

update changelog
  CHANGES.md
Due: none

add missing import
  tests/tools/test_multiomics.py
Due: lint, test coverage, check-changes

assign result to var
  tests/utils/test_bioutils.py
Due: lint, test coverage, check-changes

fix typo
  tests/tools/test_norm_correct.py
Due: lint, test coverage, check-changes

implement add_changes script
  scripts/add_change.py
Due: none

implement gitlab issue and merge request search and content fetch
  scripts/gitlab.py
Due: none

add release versioning script
  scripts/finalize_release.py
Due: none

lint
  scripts/finalize_release.py
Due: none

rename gitlab script and use graphgl to anonymously fetch user comments
  scripts/gitlab_query.py
Due: none

add dev dependency group
  pyproject.toml
Due: build

update allowlist and utilize a local allowlist to deal with changing env prefixes
  .claude/docs/plan-template.md
  .claude/docs/sys-plan-review.md
  .claude/docs/sys-plan.md
  .claude/settings.json
  .claude/skills/design/SKILL.md
  .claude/skills/implement/SKILL.md
  .claude/skills/release/SKILL.md
  .claude/skills/sys-env-check/SKILL.md
  .gitignore
Due: none

wait for review after each task; commit mode manual or with claude
  .claude/agents/implementer.md
  .claude/docs/plan-template.md
  .claude/docs/sys-implement.md
  .claude/docs/sys-plan-review.md
  .claude/docs/sys-plan.md
  .claude/skills/design/SKILL.md
  .claude/skills/design/design-template.md
  .claude/skills/implement/SKILL.md
Due: none

update workflow to use new scripts
  .claude/docs/plan-template.md
  .claude/docs/sys-changelog.md
  .claude/docs/sys-plan.md
  .claude/skills/design/SKILL.md
  .claude/skills/design/design-template.md
  .claude/skills/implement/SKILL.md
  .claude/skills/release/SKILL.md
Due: none

general optimization
  .claude/docs/sys-implement.md
  .claude/skills/implement/SKILL.md
  .claude/skills/sys-env-check/SKILL.md
Due: none

optimize implement skill for token usage
  .claude/docs/sys-plan.md
  .claude/skills/implement/SKILL.md
Due: none

optimize token usage in design skill
  .claude/skills/design/SKILL.md
Due: none

refine the workflow
  .claude/docs/sys-examples.md
  .claude/docs/sys-plan.md
  .claude/skills/design/SKILL.md
  .claude/skills/implement/SKILL.md
  CLAUDE.md
Due: none

replace non-functional throttler with sleep
  src/sctoolbox/utils/creators.py
Due: none

adjust test to new sleep setup
  tests/utils/test_creators.py
Due: lint, test coverage, check-changes

remove throttler dependency
  pyproject.toml
Due: build

up version
  src/sctoolbox/_version.py
Due: none

add deprecation marker
  tests/utils/test_creators.py
Due: lint, test coverage, check-changes

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
