Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

build:
  stage: build
  image: docker:latest
  needs:
  - extract-version
  tags:
  - sctoolbox
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apk update -qq && apk add git
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  before_script:
  - pip install .[all]
  script:
  - echo $DYNAMIC_IMAGE_TAG
  - chmod +x scripts/bedGraphToBigWig
  ...

check-changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

notebooks-RNA:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - rna_analysis/logs/*.txt
    - rna_analysis/*.ipynb
  before_script:
  - pip install .[all]
  - apt-get update
  ...

notebooks-ATAC:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    when: always
    paths:
    - atac_analysis/*.ipynb
    - atac_analysis/logs/*.txt
  before_script:
  - pip install .[all]
  - pip install papermill
  ...

build-pages:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - job: get-container-tag
    artifacts: true
  stage: deploy
  before_script:
  - pip install .[all]
  - git submodule init
  - git submodule update
  script:
  - apt-get autoclean
  - apt-get update -qq && apt-get install -qq -y pandoc
  ...

deploy-pages:
  stage: deploy
  needs:
  - job: build-pages
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_COMMIT_REF_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
    - docs/build/html/
  script:
  ...

update notebook
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

update CHANGES.md
  CHANGES.md
Due: none

initial landing page edits
  docs/source/index.rst
Due: none

update notebook
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
  src/sctoolbox/tools/mp_pilot.py
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

add short introduction and quickstart
  docs/source/index.rst
Due: none

fix badges and links
  docs/source/index.rst
Due: none

fix links and code blocks
  docs/source/index.rst
Due: none

enforce parsers for file extensions
  docs/source/conf.py
Due: none

fix links and hide bottom menu
  docs/source/index.rst
Due: none

ignore the doc build files
  .gitignore
Due: none

update notebook
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
  src/sctoolbox/tools/mp_pilot.py
  src/sctoolbox/utils/multiprocessing.py
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

update Zenodo badge to point to the newest version
  docs/source/index.rst
Due: none

add how to cite
  docs/source/cite.rst
Due: none

Update notebook
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
  src/sctoolbox/utils/multiprocessing.py
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Update notebook
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

Fix blue input cell order
  CHANGES.md
  atac_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
Due: check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

fixed linting
  src/sctoolbox/tools/amulet.py
  tests/tools/test_amulet.py
Due: lint, test coverage, check-changes

linting
  src/sctoolbox/tools/amulet.py
Due: none

Fix f'ed up merge conflict solve...
  atac_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks-ATAC, build-pages, deploy-pages

add link to landing page in menu
  docs/source/index.rst
Due: none

change number in report notebook title (01 -> 99)
  atac_analysis/notebooks/99-report.ipynb
  rna_analysis/notebooks/99-report.ipynb
Due: check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

add introduction to menu
  docs/source/index.rst
Due: none

add first part of introduction site
  docs/source/introduction.rst
Due: none

add timeout settings
  .gitlab-ci.yml
Due: none

move scvelo install to pyproject.toml
  pyproject.toml
  sctoolbox_env.yml
Due: build, test coverage, check-changes, notebooks-RNA, notebooks-ATAC

fix env yaml
  sctoolbox_env.yml
Due: build, test coverage, check-changes, notebooks-RNA, notebooks-ATAC

update changelog
  CHANGES.md
Due: none

skip velocity notebook testing
  scripts/run_notebooks.py
Due: none

up scanpro version
  pyproject.toml
Due: build

update change log
  CHANGES.md
Due: none

remove index from menu as it is the landing page
  docs/source/index.rst
Due: none

Replace sc.magic with palantir magic
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

lint new D420 rule
  src/sctoolbox/_settings.py
  src/sctoolbox/plotting/embedding.py
  src/sctoolbox/plotting/general.py
  src/sctoolbox/plotting/gsea.py
  src/sctoolbox/plotting/marker_genes.py
  src/sctoolbox/plotting/qc_filter.py
  src/sctoolbox/tools/celltype_annotation.py
  src/sctoolbox/tools/gsea.py
  src/sctoolbox/tools/highly_variable.py
  src/sctoolbox/tools/marker_genes.py
  src/sctoolbox/tools/multiomics.py
  src/sctoolbox/tools/norm_correct.py
  src/sctoolbox/tools/qc_filter.py
  src/sctoolbox/tools/receptor_ligand.py
  src/sctoolbox/utils/adata.py
  src/sctoolbox/utils/assemblers.py
  src/sctoolbox/utils/checker.py
  src/sctoolbox/utils/general.py
Due: none

lint D420
  src/sctoolbox/tools/highly_variable.py
  src/sctoolbox/tools/norm_correct.py
  src/sctoolbox/tools/qc_filter.py
Due: none

Add scikit-image as dependency
  pyproject.toml
Due: build

adjust_doublet_threshold: add score_col and prediction_col parameter
  src/sctoolbox/tools/qc_filter.py
Due: none

Fix lint
  src/sctoolbox/tools/qc_filter.py
Due: none

fix embeded video and some formatting
  docs/source/introduction.rst
Due: none

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
