Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

build:
  stage: build
  image: docker:latest
  needs:
  - extract-version
  tags:
  - sctoolbox
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apk update -qq && apk add git
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  before_script:
  - pip install .[all]
  script:
  - echo $DYNAMIC_IMAGE_TAG
  - chmod +x scripts/bedGraphToBigWig
  ...

check-changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

notebooks:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    paths:
    - rna_analysis/logs/*.txt
    - rna_analysis/*.ipynb
    - atac_analysis/*.ipynb
    - atac_analysis/logs/*.txt
  before_script:
  - pip install .[all]
  script:
  ...

build-pages:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - job: get-container-tag
    artifacts: true
  stage: deploy
  before_script:
  - pip install .[all]
  script:
  - apt-get autoclean
  - apt-get update -qq && apt-get install -qq -y pandoc
  - pip install sphinx sphinx-rtd-theme
  - pip install sphinx-exec-code
  ...

deploy-pages:
  stage: deploy
  needs:
  - job: build-pages
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_COMMIT_REF_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
    - docs/build/html/
  script:
  ...

use enumerate instead of variable
  general_notebooks/group_markers.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

fix strings and kernel name
  general_notebooks/group_markers.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

vacuum the lint away
  sctoolbox/tools/download_data.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

combine cells; fix kernel name; use pathlib
  general_notebooks/proportion_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

fix kernel name; combine cells
  general_notebooks/pseudotime_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Move settings of general notebooks to config
  atac_analysis/notebooks/config.yaml
  general_notebooks/GSEA.ipynb
  general_notebooks/annotation.ipynb
  general_notebooks/group_markers.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  rna_analysis/notebooks/config.yaml
Due: check-changes, notebooks, build-pages, deploy-pages

Update changelog
  CHANGES.rst
Due: none

update tutorial docs
  docs/source/tutorials/index.rst
  docs/source/tutorials/scATAC-seq Analysis/index.rst
  docs/source/tutorials/scRNA-seq Analysis/Advance Analysis/index.rst
  docs/source/tutorials/scRNA-seq Analysis/Core Analysis/Tutorial 00 - Data Download.ipynb
  docs/source/tutorials/scRNA-seq Analysis/Core Analysis/Tutorial 01 - Assembling anndata.ipynb
  docs/source/tutorials/scRNA-seq Analysis/Core Analysis/Tutorial 02 - QC filtering.ipynb
  docs/source/tutorials/scRNA-seq Analysis/Core Analysis/Tutorial 03 - Normalization and Batch correction.ipynb
  docs/source/tutorials/scRNA-seq Analysis/Core Analysis/Tutorial 04 - Clustering.ipynb
  docs/source/tutorials/scRNA-seq Analysis/Core Analysis/index.rst
  docs/source/tutorials/scRNA-seq Analysis/index.rst
Due: none

lessen code duplication
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

lint
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

lint
  .nfs0000000000445cf900013440
  sctoolbox/plotting/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Apply 3 suggestion(s) to 2 file(s)
  CHANGES.rst
  sctoolbox/tools/download_data.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Add try-except-finally around download in tests
  tests/tools/test_download_data.py
Due: lint, test coverage, check-changes

test_download_data: improve try-finally block
  tests/tools/test_download_data.py
Due: lint, test coverage, check-changes

addjust name
  docs/source/tutorials/index.rst
  docs/source/tutorials/scATAC-seq_Analysis/index.rst
  docs/source/tutorials/scRNA-seq_Analysis/Advance Analysis/index.rst
  docs/source/tutorials/scRNA-seq_Analysis/Core Analysis/Tutorial 00 - Data Download.ipynb
  docs/source/tutorials/scRNA-seq_Analysis/Core Analysis/Tutorial 01 - Assembling anndata.ipynb
  docs/source/tutorials/scRNA-seq_Analysis/Core Analysis/Tutorial 02 - QC filtering.ipynb
  docs/source/tutorials/scRNA-seq_Analysis/Core Analysis/Tutorial 03 - Normalization and Batch correction.ipynb
  docs/source/tutorials/scRNA-seq_Analysis/Core Analysis/Tutorial 04 - Clustering.ipynb
  docs/source/tutorials/scRNA-seq_Analysis/Core Analysis/index.rst
  docs/source/tutorials/scRNA-seq_Analysis/index.rst
Due: none

typo
  docs/source/index.rst
Due: none

some fixes
  docs/source/index.rst
  docs/source/tutorials/index.rst
  docs/source/tutorials/scATAC-seq Analysis/index.rst
  docs/source/tutorials/scRNA-seq Analysis/Advanced Analysis/index.rst
  docs/source/tutorials/scRNA-seq Analysis/Core Analysis/Tutorial 00 - Data Download.ipynb
  docs/source/tutorials/scRNA-seq Analysis/Core Analysis/Tutorial 01 - Assembling anndata.ipynb
  docs/source/tutorials/scRNA-seq Analysis/Core Analysis/Tutorial 02 - QC filtering.ipynb
  docs/source/tutorials/scRNA-seq Analysis/Core Analysis/Tutorial 03 - Normalization and Batch correction.ipynb
  docs/source/tutorials/scRNA-seq Analysis/Core Analysis/Tutorial 04 - Clustering.ipynb
  docs/source/tutorials/scRNA-seq Analysis/Core Analysis/index.rst
  docs/source/tutorials/scRNA-seq Analysis/index.rst
Due: none

delete system file
  .nfs0000000000445cf900013440
Due: none

Tutorial docs: First fix
  docs/source/conf.py
  docs/source/tutorials/index.rst
  docs/source/tutorials/scATAC-seq_Analysis/index.rst
  docs/source/tutorials/scRNA-seq_Analysis/Advance_Analysis/index.rst
  docs/source/tutorials/scRNA-seq_Analysis/Core_Analysis/Tutorial_00.ipynb
  docs/source/tutorials/scRNA-seq_Analysis/Core_Analysis/Tutorial_01.ipynb
  docs/source/tutorials/scRNA-seq_Analysis/Core_Analysis/Tutorial_02.ipynb
  docs/source/tutorials/scRNA-seq_Analysis/Core_Analysis/Tutorial_03.ipynb
  docs/source/tutorials/scRNA-seq_Analysis/Core_Analysis/Tutorial_04.ipynb
  docs/source/tutorials/scRNA-seq_Analysis/Core_Analysis/index.rst
  docs/source/tutorials/scRNA-seq_Analysis/index.rst
Due: none

Update submopudle tutorials
  docs/source/tutorials/scRNA-seq_Analysis/Core_Analysis/index.rst
Due: none

added sctoolbox.utils.tobias.prepare_tobias()
  sctoolbox/tools/tobias.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

fixed overwrite yaml import
  sctoolbox/tools/tobias.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

beartype
  sctoolbox/tools/tobias.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

added notebook
  atac_analysis/notebooks/05_tobias.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

linting
  sctoolbox/tools/tobias.py
  setup.py
Due: build, lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

Get images to acceptable format
  docs/source/_static/css/custom.css
  docs/source/conf.py
Due: none

test init before build-pages
  .gitlab-ci.yml
Due: none

update submodul
  .gitlab-ci.yml
Due: none

fix plotting issues with the pseudotime notebook
  general_notebooks/pseudotime_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Apply 2 suggestion(s) to 2 file(s)
  atac_analysis/notebooks/config.yaml
  rna_analysis/notebooks/config.yaml
Due: none

uniform notebook headlines
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

unit tests
  tests/tools/test_tobias.py
Due: lint, test coverage, check-changes

Added references
  atac_analysis/notebooks/test_data/references/atac_pbmc_5k_nextgem_web_summary.html
  atac_analysis/notebooks/test_data/references/atac_v1_pbmc_5k_web_summary.html
Due: none

implement and test plot_table
  sctoolbox/plotting/general.py
  tests/plotting/test_general.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

implemented crop parameter
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

save_h5ad report adata.var and .obs as table plot
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

from_h5ad: save table as plot instead of .tsv
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

test plot_table
  tests/plotting/test_general.py
Due: lint, test coverage, check-changes

use plot_table in all assemblers
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
