Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

build:
  stage: build
  image: docker:latest
  needs:
  - extract-version
  tags:
  - sctoolbox
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apk update -qq && apk add git
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  before_script:
  - pip install .[all]
  script:
  - echo $DYNAMIC_IMAGE_TAG
  - chmod +x scripts/bedGraphToBigWig
  ...

check-changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

notebooks:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - get-container-tag
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  artifacts:
    paths:
    - rna_analysis/logs/*.txt
    - rna_analysis/*.ipynb
    - atac_analysis/*.ipynb
    - atac_analysis/logs/*.txt
  before_script:
  - pip install .[all]
  script:
  ...

build-pages:
  image: $CI_REGISTRY_IMAGE:$DYNAMIC_IMAGE_TAG
  needs:
  - job: get-container-tag
    artifacts: true
  stage: deploy
  before_script:
  - pip install .[all]
  script:
  - apt-get autoclean
  - apt-get update -qq && apt-get install -qq -y pandoc
  - pip install sphinx sphinx-rtd-theme
  - pip install sphinx-exec-code
  ...

deploy-pages:
  stage: deploy
  needs:
  - job: build-pages
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_COMMIT_REF_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
    - docs/build/html/
  script:
  ...

update changelog
  CHANGES.rst
Due: none

fix annoy issue
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

bump version
  sctoolbox/_version.py
Due: lint, test import, test coverage, check-changes, notebooks, build-pages, deploy-pages

RNA 02: remove superfluos cell
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Adjust js blue cell indices for tutorial notebooks
  docs/source/_static/js/custom.js
Due: none

Set notebook version to 0.13.2
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  atac_analysis/notebooks/02_QC_filtering.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  atac_analysis/notebooks/0A_tobias.ipynb
  atac_analysis/notebooks/99-report.ipynb
  atac_analysis/notebooks/test_data/references/process_testdata.ipynb
  general_notebooks/GSEA.ipynb
  general_notebooks/annotation.ipynb
  general_notebooks/group_markers.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
  rna_analysis/notebooks/99-report.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

from_single_mtx: try to auto adjust if the var or obs file is one of
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

fix thought error; explain behavior in doc-string
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

making the linter happy :)
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

forgot the raise
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

_save_figure: implement rasterize
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

plot_embedding, feature_per_group, search_umap-/ search_tnse_parameters, anndata_overview: add rasterize parameter
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

add rasterize to pairwise_scatter
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

add release date
  CHANGES.rst
Due: none

up notebook versions
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  atac_analysis/notebooks/02_QC_filtering.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  atac_analysis/notebooks/0A_tobias.ipynb
  atac_analysis/notebooks/99-report.ipynb
  atac_analysis/notebooks/test_data/references/process_testdata.ipynb
  general_notebooks/GSEA.ipynb
  general_notebooks/annotation.ipynb
  general_notebooks/group_markers.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
  rna_analysis/notebooks/99-report.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

fix header lines
  CHANGES.rst
Due: none

RNA report: init cell
  rna_analysis/notebooks/99-report.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

add kubernetes threads parameter
  sctoolbox/_settings.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

implement settings.get_threads
  sctoolbox/_settings.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

estiamte_doublets: enable settings.threads
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

forgot to adjust doc-string
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

annotate_adata, annotate_narrowPeak: enable settings.threads
  sctoolbox/tools/peak_annotation.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

remove deprecated pct_fragments_in_promoters
  sctoolbox/tools/calc_overlap_fc.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

fc_fragments_in_regions: enable settings.get_threads
  sctoolbox/tools/calc_overlap_fc.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

wrap_umap: enable settings.threads
  sctoolbox/tools/embedding.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

gsea: enable settings.threads
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

run_deseq2: use settings.get_threads
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

wrap_batch_evaluation: enable settings.get_threads
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

prepare_tobias: enable settings.get_threads
  sctoolbox/tools/tobias.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

search_umap_parameters: enable settings.get_threads
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

subset_bam, split_bam_clusters, create_fragment_file: enable settings.get_threads
  sctoolbox/tools/bam.py
Due: lint, test import, test coverage, check-changes, build-pages, deploy-pages

use settings.get_threads instead of in notebook threads variable
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
Due: check-changes, notebooks, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
