Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, test import, test coverage, check-changes, notebooks-RNA, notebooks-ATAC, build-pages, deploy-pages

Path conditions:
  build: any of: setup.py, sctoolbox_env.yml, Dockerfile, MANIFEST.in, pyproject.toml
  lint: any of: setup.py, tests/*.py, tests/**/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, tests/*.py, tests/**/*.py
  check-changes: any of: tests/*.py, tests/**/*.py, setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-RNA: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, rna_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  notebooks-ATAC: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py, atac_analysis/notebooks/*.ipynb
  build-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

use the tmp_path fixture for auto file cleanup
  tests/utils/test_adata.py
  tests/utils/test_bioutils.py
  tests/utils/test_creators.py
  tests/utils/test_general.py
  tests/utils/test_io.py
  tests/utils/test_jupyter.py
Due: lint, test coverage, check-changes

remove redundant fixtures and use global paths
  tests/utils/test_assemblers.py
  tests/utils/test_bioutils.py
  tests/utils/test_checker.py
  tests/utils/test_decorator.py
Due: lint, test coverage, check-changes

lint
  tests/utils/test_bioutils.py
  tests/utils/test_checker.py
  tests/utils/test_decorator.py
Due: lint, test coverage, check-changes

explain why general notebooks should be moved
  docs/source/development.rst
Due: none

rewrite configuration section for clarity
  docs/source/development.rst
Due: none

show settings API
  docs/source/build_api.py
Due: none

fix logic error
  docs/source/build_api.py
Due: none

move readthedocs build dependencies to pyproject.toml
  .gitlab-ci.yml
  pyproject.toml
Due: build

palantir>=1.4.4
  pyproject.toml
Due: build

update
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

lint
  docs/source/conf.py
Due: none

format class doc-string
  src/sctoolbox/_settings.py
Due: none

make SctoolboxConfig available to sphinx
  src/sctoolbox/__init__.py
Due: none

create a special case to show settings in the docs
  docs/source/API/_settings.rst
  docs/source/API/index.rst
  docs/source/build_api.py
Due: none

add link to settings class
  docs/source/development.rst
Due: none

add changelog section
  docs/source/development.rst
Due: none

add "Extending the package" section
  docs/source/development.rst
Due: none

update analysis_progress.png
  image/analysis_progress.png
Due: none

add guidance to menu
  docs/source/index.rst
Due: none

add repo_dir to settings
  src/sctoolbox/_settings.py
Due: none

add repo_dir to config
  atac_analysis/notebooks/config.yaml
  rna_analysis/notebooks/config.yaml
Due: none

use settings.repo_dir
  general_notebooks/annotation.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

update changelog
  CHANGES.md
Due: none

update link
  general_notebooks/annotation.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

update more links
  src/sctoolbox/data/method_templates/ATAC-methods.md
  src/sctoolbox/data/method_templates/RNA-methods.md
Due: none

add a markerrepo description
  general_notebooks/annotation.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

lint
  general_notebooks/annotation.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

fix repo present check
  general_notebooks/annotation.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

fix typos
  rna_analysis/notebooks/0C_PILOT_trajectory.ipynb
Due: check-changes, notebooks-RNA, build-pages, deploy-pages

added uri word filter
  pyproject.toml
Due: build

Added example to clarify image
  docs/source/introduction.rst
Due: none

gseapy >= 1.2.1 to fix error
  pyproject.toml
Due: build

add guidance first draft
  docs/source/guidance.rst
Due: none

qnorm>=0.9 to fix install
  pyproject.toml
Due: build

pyyaml>=6.0.3 to speed up install
  pyproject.toml
Due: build

forgot #
  pyproject.toml
Due: build

python_gitlab>=8.2.0 to speed up install
  pyproject.toml
Due: build

pysam>=0.23.3 to speed up installation
  pyproject.toml
Due: build
